{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="icon" href="{% static 'images/categories/yangi-uskunalar-24px.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/product/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/product/style.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/admin-panel.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/Tecnopromlinkedin.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/Tecnopromlinkedin_1.css' %}">

    <title>{{ request.user }}</title>
</head>
<body>

<!-- Header section -->
{% include "nav_bar.html" %}
<!-- /Header section -->

{% include "messages.html" %}


<style>
    .user-info {
        width: 97%;
    }
</style>

<div class="container">
    <div class="gdsgogsf">
        <div style="display: flex; flex-direction: column">
            <section class="user-info">
                <div class="user-profile">
                    <div class="user-photos">
                        <div class="user-banner">
                            <img src="{{ profile.banner.url }}" alt="banner">
                        </div>
                        <div class="user-profile__foto">
                            <img src="{{ profile.logo.url }}" alt="profile foto">
                        </div>
                    </div>
                    <div class="profile-info">
                        <div class="block-1">
                            <h1 class="profile-info__title">
                                {{ profile.company_name }}
                            </h1>
                            <div class="profile-description">
                                <p>{{ profile.description }}</p>
                            </div>

                            <div class="company-data">
                                <div class="profile-country">
                                    <p>{{ profile.country }}</p>
                                </div>
                                •
                                <div class="profile-category">
                                    <p>{{ profile.category }}</p>
                                </div>
                                •
                                <div class="profile-sub_category">
                                    <p>{{ profile.sub_category }}</p>
                                </div>
                                •
                                <div class="profile-followers">
                                    <p><i class="fa-solid fa-user"></i> {{ followers }}-followers</p>
                                </div>
                                •
                                <div class="profile-verified" style="color: #0a24b9">
                                    {% if verified %}
                                        <p>Tecnoprom verified <i class="fa-solid fa-circle-check"></i></p>
                                    {% else %}
                                        <p>Tecnoprom verified <i class="fa-solid fa-circle-check"></i></p>
                                    {% endif %}
                                </div>
                            </div>
                            {% if profile.tags.all %}
                                <div class="profile-tags">
                                    {% for tag in profile.tags.all %}
                                        <p>{{ tag }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="block-2">
                            <div class="profile-buttons">
                                {% if user != profile %}
                                    <a class="dont-text-decoration" href="{% url 'subscribe' profile.pk %}">
                                    <span class="following text-medium-weight border-for-buttons">
                                            {% if profile_subscription %}
                                                <i class="fa-solid fa-minus"></i>
                                                {% translate 'Отписаться' %}
                                            {% else %}
                                                <i class="fa-solid fa-plus"></i>
                                                {% translate 'Подписаться' %}
                                            {% endif %}
                                    </span>
                                    </a>
                                {% endif %}
                                <a class="dont-text-decoration" href="{{ profile.website }}">
                                    <span class="web-site text-medium-weight border-for-buttons">
                                        <i class="fa-solid fa-globe"></i>
                                        {% translate 'Веб сайт' %}
                                    </span>
                                </a>
                                <a class="dont-text-decoration"
                                   href="https://t.me/{{ profile.telegram }}">
                                    <span class="connect-with-us text-medium-weight border-for-buttons disabled">
                                        <i class="fa-brands fa-telegram" style="color: white;"></i>
                                    {% translate 'Телеграм' %}
                                    </span>
                                </a>
                                <a class="dont-text-decoration" href="#">
                                    <span class="more text-medium-weight border-for-buttons">
                                        {% translate "Еще" %}
                                    </span>
                                </a>
                            </div>
                            <form action="">
                                {% csrf_token %}

                                {% if has_rated %}
                                    <span id="average-rating">{% translate "рейтинг" %}: {{ average_rating }}</span>
                                {% else %}
                                    <div class="rating-area">
                                        <input type="radio" id="star-5" name="rating" value="5">
                                        <label for="star-5" title="Оценка «5»"></label>
                                        <input type="radio" id="star-4" name="rating" value="4">
                                        <label for="star-4" title="Оценка «4»"></label>
                                        <input type="radio" id="star-3" name="rating" value="3">
                                        <label for="star-3" title="Оценка «3»"></label>
                                        <input type="radio" id="star-2" name="rating" value="2">
                                        <label for="star-2" title="Оценка «2»"></label>
                                        <input type="radio" id="star-1" name="rating" value="1">
                                        <label for="star-1" title="Оценка «1»"></label>
                                    </div>
                                    <span id="average-rating"
                                          style="display: none;">{% translate "рейтинг" %}: {{ average_rating }}</span>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                <div id="cards-section" class="cards__buy-section">
                    <div class="cards" id="card-container">
                        {% for product in products %}
                            {% if product.type == 'sell' %}
                                <div class="card__sell card-color">
                                    <div class="card__buy-content">
                                        <div class="card__sell-image">
                                            <img src="{{ product.image.url }}" alt="Product Image">
                                        </div>
                                        <a href="{% url 'product-detail' product.pk %}"
                                           class="title">{{ product.title }}</a>
                                        <div class="product-data">
                                            <div class="category-info">
                                                <div class="product-cat__image">
                                                    <img src="{% static 'images/categories/1.svg' %}" alt="cat image">
                                                </div>
                                                <a href="#">{{ product.category }}</a>
                                            </div>

                                            <div class="flags">
                                                <span class="country">{{ product.country }}</span>
                                            </div>
                                            <div class="date">
                                                <span class="full-date">{{ product.create_date }}</span>
                                            </div>
                                            <div class="like-and-more">
                                                <a href="{% url "product-detail" product.pk %}"
                                                   class="read-more">{% translate "Подробнее" %}</a>
                                                <div class="svg-icon-container">
                                                    {#                                                    {% if user.is_authenticated %}#}
                                                    <span class="add-to-favorites"
                                                          data-product-id="{{ product.id }}"
                                                          data-url="{% url 'add_to_favorites' product.id %}">
                                            <i class="fa-{% if is_favorite %}solid{% else %}regular{% endif %} fa-heart"
                                               style="font-size: 15px"></i>
                                            </span>
                                                    {#                                                    {% endif %}#}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% elif product.type == 'buy' %}
                                <div class="card__buy card-color">
                                    <div class="card__buy-content">
                                        <div class="category-info">
                                            <div class="product-cat__image">
                                                <img src="{% static 'images/categories/1.svg' %}" alt="cat image">
                                            </div>
                                            <a href="#">{{ product.category }}</a>
                                        </div>
                                        <h2 class="title"><a href="{% url 'product-detail' product.pk %}"
                                                             class="title">{{ product.title }}</a></h2>
                                        <p class="description">{{ product.description }}</p>
                                        <div class="product-data">
                                            <div class="flags">
                                                <span class="country">{{ product.country }}</span>
                                            </div>
                                            <div class="date">
                                                <span class="full-date">{{ product.create_date }}</span>
                                            </div>
                                            <div class="like-and-more">
                                                <a href="{% url 'product-detail' product.pk %}"
                                                   class="read-more">{% translate "Подробнее" %}</a>
                                                <div class="svg-icon-container">
                                                    {% if user.is_authenticated %}
                                                        <span class="add-to-favorites"
                                                              data-product-id="{{ product.id }}"
                                                              data-url="{% url 'add_to_favorites' product.id %}">
                                            <i class="fa-{% if is_favorite %}solid{% else %}regular{% endif %} fa-heart fa-lg"
                                               style="font-size: 15px"></i>
                                        </span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endif %}
                        {% empty %}
                            <h1>{% translate "Пока что нет таких объявлений." %}</h1>
                        {% endfor %}
                    </div>
                </div>
            </section>

        </div>

        <div>
            <div class="benner-for-reklam">
                <div class="banner">
                    <img src="{% static 'images/image.png' %}" alt="banner" style="width: 245px;">
                </div>
            </div>
            <div class="company-cards">
                {% for company in companies %}
                    <div class="card__sell card-color">
                        <div class="card__company-content">
                            <div class="card__sell-image">
                                <a href="#"><img src="{{ company.banner.url }}" alt=""></a>
                            </div>
                            <div class="card__company-image">
                                <img src="{{ company.logo.url }}" alt="Product Image">
                            </div>

                            <a href="#" class="title">{{ company.company_name }}</a>
                            <div class="product-data">
                                <div class="company-categories">

                                    <div class="company-category" style="font-size: 12px;">
                                        <a class="dont-text-decoration color-for-mini-text"
                                           href="#">{{ company.category }}</a>
                                    </div>
                                    <div class="company-sub_category" style="font-size: 12px"><a
                                            class="dont-text-decoration color-for-mini-text" href="#">Agro</a></div>
                                </div>

                                <div class="flags">
                                    <span class="country">{{ company.country }}</span>
                                </div>
                                <div class="like-and-more">
                                    <a href="{% url 'profile' company.pk %}" class="read-more">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {#                {% for company in companies %}#}
                {#                    <div class="company-card" style="width: 240px;">#}
                {#                        <div class="company-logo">{{ company.logo.url }}</div>#}
                {#                        <div class="company-name">{{ company.name }}</div>#}
                {#                        <div class="company-category">{{ company.category }}</div>#}
                {#                        <div class="company-sub_category">{{ company.subcategory }}</div>#}
                {#                        <div class="company-country">{{ company.country }}</div>#}
                {#                    </div>#}
                {#                {% endfor %}#}

            </div>
        </div>
    </div>
</div>

<script>
    const tabButtons = document.querySelectorAll('.tab-button');
    const sections = document.querySelectorAll('.section');

    tabButtons.forEach(button => {
        button.addEventListener('click', () => {
            // Скрываем все разделы
            sections.forEach(section => {
                section.style.display = 'none';
            });

            // Определяем соответствующий раздел
            const target = button.getAttribute('data-target');
            const sectionToShow = document.querySelector(`.${target}`);

            // Показываем выбранный раздел
            sectionToShow.style.display = 'block';

            // Подсвечиваем активную кнопку
            tabButtons.forEach(btn => {
                btn.classList.remove('active');
            });
            button.classList.add('active');
        });
    });
</script>

<script>
    // Get all the tag placeholders
    const tagPlaceholders = document.querySelectorAll('.tag-placeholder');

    // Loop through each tag placeholder
    tagPlaceholders.forEach(tagPlaceholder => {
        // Add event listener to each tag placeholder
        tagPlaceholder.addEventListener('click', () => {
            // Prompt the user for input (tag text)
            const tagText = prompt('Enter tag text:');

            // Set the tag placeholder's content to the entered tag text
            tagPlaceholder.textContent = tagText;
        });
    });

</script>

<!-- like button -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{#<script>#}
{#    $(document).ready(function () {#}
{#        $(".add-to-favorites").click(function () {#}
{#            var span = $(this);#}
{#            var productId = span.data("product-id");#}
{##}
{#            // Отправляем AJAX-запрос к add_to_favorites#}
{#            $.ajax({#}
{#                url: "{% url 'add_to_favorites' 0 %}".replace('0', productId),#}
{#                type: "POST",#}
{#                data: {#}
{#                    csrfmiddlewaretoken: '{{ csrf_token }}'#}
{#                },#}
{#                success: function (data) {#}
{#                    if (data.added) {#}
{#                        // Продукт был добавлен в избранное, меняем иконку на fa-solid#}
{#                        span.find('i').removeClass('fa-regular').addClass('fa-solid');#}
{#                    } else {#}
{#                        // Продукт был удален из избранного, меняем иконку на fa-regular#}
{#                        span.find('i').removeClass('fa-solid').addClass('fa-regular');#}
{#                    }#}
{#                },#}
{#                error: function () {#}
{#                    alert("Произошла ошибка при обновлении избранного.");#}
{#                }#}
{#            });#}
{#        });#}
{#    });#}
{#</script>#}
<script>
    $(document).ready(function () {
        $(".add-to-favorites").click(function () {
            var span = $(this);
            var productId = span.data("product-id");

            // Отправляем AJAX-запрос к add_to_favorites
            {% if user.is_authenticated %}
                $.ajax({
                    url: "{% url 'add_to_favorites' 0 %}".replace('0', productId),
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data) {
                        if (data.added) {
                            // Продукт был добавлен в избранное, меняем иконку на fa-solid
                            span.find('i').removeClass('fa-regular').addClass('fa-solid');
                        } else {
                            // Продукт был удален из избранного, меняем иконку на fa-regular
                            span.find('i').removeClass('fa-solid').addClass('fa-regular');
                        }
                    },
                    error: function () {
                        alert("Произошла ошибка при обновлении избранного.");
                    }
                });

            {% else %}
                window.location.href = "{% url 'login' %}"
            {% endif %}
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.rating-area input[type="radio"]').on('change', function () {
            {% if user.is_authenticated %}
                var rating = $(this).val();
                var evaluatorId = {{ request.user.id }};
                var ratedUserId = {{ profile.id }};  // Получите идентификатор оцениваемого пользователя
                var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

                // Проверка, аутентифицирован ли пользователь
                $.ajax({
                    type: 'POST',
                    url: `/users/rate/${evaluatorId}/${ratedUserId}/${rating}/`,
                    data: {
                        csrfmiddlewaretoken: csrfToken,
                    },
                    success: function (data) {
                        console.log(data.message);
                        window.location.reload()
                        $('.rating-area').hide();
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error('Ошибка при отправке запроса:', errorThrown);
                    }
                });
            {% else %}
                // Перенаправление на страницу логина
                window.location.href = "{% url 'login' %}";
            {% endif %}
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var tags = document.querySelectorAll('.profile-tags p');
        var colors = ['#d9edff', '#c6feff', '#ffddea'];

        tags.forEach(function (tag) {
            // Выбор случайного цвета из массива
            var randomColor = colors[Math.floor(Math.random() * colors.length)];
            tag.style.backgroundColor = randomColor;
            tag.style.padding = '8px';
            tag.style.marginRight = '8px';
            tag.style.color = '#000'; // Цвет текста
        });
    });
</script>


</body>
</html>