{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'user/css/create-company.css' %}">
    <link rel="stylesheet" href="{% static 'css/product/style.css' %}">
    <link rel="stylesheet" href="{% static 'user/js/script.js' %}">
</head>
<body>

{% include 'messages.html' %}
{% include 'nav_bar.html' %}

<div class="container">
    <section class="create-company-section">
        <div class="create-company">
            <div class="form-steps">
                <div class="form-step {% if step == 0 %}active{% endif %}">
                    <div class="step-circle">
                        <i class="fa-solid fa-circle"></i>
                    </div>
                    <div class="step-text">
                        step-1
                    </div>
                </div>
                <div class="form-step {% if step == 1 %}active{% endif %}">
                    <div class="step-circle">
                        <i class="fa-solid fa-circle"></i>
                    </div>
                    <div class="step-text">
                        step-2
                    </div>
                </div>
                <div class="form-step {% if step == 2 %}active{% endif %}">
                    <div class="step-circle">
                        <i class="fa-solid fa-circle"></i>
                    </div>
                    <div class="step-text">
                        step-3
                    </div>
                </div>
                <div class="form-step {% if step == 3 %}active{% endif %}">
                    <div class="step-circle">
                        <i class="fa-solid fa-circle"></i>
                    </div>
                    <div class="step-text">
                        step-4
                    </div>
                </div>
                <div class="form-step {% if step == 4 %}active{% endif %}">
                    <div class="step-circle">
                        <i class="fa-solid fa-circle"></i>
                    </div>
                    <div class="step-text">
                        step-5
                    </div>
                </div>
            </div>
            <div class="company-form">
                <form class="form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ forms.step.as_hidden }}
                    <div class="error-messages">
                        <ul>
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <li>{{ field }}: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>


                    {% if step == 0 %}
                        <input type="hidden" name="step" value="0">
                        <div class="form-group">
                            <label for="name" class="form-label">Выведите название компании: </label>
                            {{ forms.0.company_name }}
                        </div>

                        <div class="form-group" id="category-group">
                            <label for="name" class="form-label">Категория: </label>
                            {{ forms.0.category }}
                        </div>

                        <div class="form-group" id="subcategory-group">
                            <label for="name" class="form-label">Субкатегория: </label>
                            {{ forms.0.sub_category }}
                        </div>

                        <div class="form-group" id="tags-group">
                            <label for="name" class="form-label">Теги: </label>
                            <div id="tags-checkboxes">
                                {{ forms.0.tags }}
                            </div>
                        </div>

                    {% endif %}

                    {% if step == 1 %}
                        <input type="hidden" name="step" value="1">
                        <div class="form-group">
                            <label for="name" class="form-label">Выведите номер телеграмма: </label>
                            {{ forms.1.telegram }}
                        </div>

                        <div class="form-group">
                            <label for="name" class="form-label">Выведите номер ватсапа: </label>
                            {{ forms.1.whatsapp }}
                            {{ wizard.form.whatsapp }}
                        </div>

                        <div class="form-group">
                            <label for="name" class="form-label">Выведите ссылку вашего сайта: </label>
                            {{ forms.1.website }}
                            {{ wizard.form.website }}
                        </div>

                        <div class="form-group">
                            <label for="name" class="form-label">Выведите ссылку локации вашего компании: </label>
                            {{ forms.1.url_maps }}
                        </div>
                    {% endif %}

                    {% if step == 2 %}
                        <input type="hidden" name="step" value="2">

                        <div class="form-group">
                            <div class="hero">
                                <label for="input-file" id="drop-area">
                                    {{ forms.2.logo }}
                                    <div id="img-view">
                                        <img src="{% static 'user/image/upload-icon.png' %}" alt="upload image">
                                        <div class="img-view-text">
                                            <p>Drag and drop or click here <br>to upload image</p>
                                            <span>Upload any image from desktop</span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>

                    {% endif %}

                    {% if step == 3 %}
                        <div class="form-group">

                            <div class="hero">
                                <label for="input-file" id="drop-area">
                                    {{ forms.3.banner }}
                                    <div id="img-view">
                                        <img src="{% static 'user/image/upload-icon.png' %}" alt="upload image">
                                        <div class="img-view-text">
                                            <p>Drag and drop or click here <br>to upload image</p>
                                            <span>Upload any image from desktop</span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>

                    {% endif %}

                    {% if step == 4 %}
                        <div class="form-group">
                            <label for="name" class="form-label">Выведите описание вашего компании: </label>
                            {{ forms.4.description }}
                        </div>

                        <div class="form-group">
                            <label for="name" class="form-label">Страна: </label>
                            {{ forms.4.country }}
                        </div>

                    {% endif %}

                    <div class="form-buttons">
                        {% if step > 0 %}
                            <button type="submit" name="step" value="{{ step }}" class="btn btn-secondary">Назад
                            </button>
                        {% endif %}

                        {% if step < forms|length|add:"-1" %}
                            <button type="submit" name="step" value="{{ step }}" class="btn btn-primary">Следующий
                            </button>
                        {% endif %}

                        {% if step == forms|length|add:"-1" %}
                            <button type="submit" name="step" value="{{ step }}" class="btn btn-success">Создать
                                компанию
                            </button>
                        {% endif %}
                        {#                    {% if step > 0 %}#}
                        {#                        <button type="submit" name="step" value="{{ step|add:"-1" }}" class="btn btn-secondary">Назад#}
                        {#                        </button>#}
                        {#                    {% endif %}#}
                        {##}
                        {#                    {% if step < forms|length|add:"-1" %}#}
                        {#                        <button type="submit" name="step" value="{{ step|add:"1" }}" class="btn btn-primary">Следующий#}
                        {#                        </button>#}
                        {#                    {% endif %}#}
                        {##}
                        {#                    {% if step == forms|length|add:"-1" %}#}
                        {#                        <button type="submit" name="step" value="{{ step }}" class="btn btn-success">Создать компанию#}
                        {#                        </button>#}
                        {#                    {% endif %}#}
                    </div>

                </form>
            </div>
        </div>
    </section>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        const categorySelect = $('#id_category');
        const subcategoryGroup = $('#subcategory-group');
        const subcategorySelect = $('#id_sub_category');
        const tagsGroup = $('#tags-group'); // Добавляем элемент для тегов
        const tagsSelect = $('#id_tags'); // Замените на соответствующий id поля тегов

        // Функция для загрузки субкатегорий
        function loadSubcategories() {
            const selectedCategoryId = categorySelect.val();

            // Очищаем предыдущие опции и добавляем "Выберите субкатегорию"
            subcategorySelect.empty().append($('<option></option>').attr('value', '').text('Выберите субкатегорию'));
            tagsGroup.hide(); // Скрываем поле выбора тегов

            if (selectedCategoryId) {
                // Запрос на сервер для получения субкатегорий по выбранной категории
                $.ajax({
                    url: `/related_to_it/?category_id=${selectedCategoryId}`,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data.subcategories); // Здесь data определена и содержит данные
                        subcategorySelect.empty();
                        subcategorySelect.append($('<option></option>').attr('value', '').text('Выберите субкатегорию')); // Добавляем опцию поумолчанию
                        $.each(data.subcategories, function (key, value) {
                            subcategorySelect.append($('<option></option>').attr('value', key).text(value));
                        });
                        subcategoryGroup.show(); // Показываем поле выбора субкатегории
                    }
                });
            } else {
                subcategoryGroup.hide(); // Скрываем поле выбора субкатегории, если категория не выбрана
            }
        }

        categorySelect.change(loadSubcategories);

        loadSubcategories();

        // Функция для загрузки тегов
        function loadTags() {
            const selectedSubcategoryId = subcategorySelect.val();

            // Очищаем предыдущие чекбоксы
            tagsSelect.empty();

            if (selectedSubcategoryId) {
                // Запрос на сервер для получения тегов по выбранной субкатегории
                $.ajax({
                    url: `/related_to_it/?subcategory_id=${selectedSubcategoryId}`,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data.tags); // Здесь data определена и содержит данные
                        $.each(data.tags, function (key, value) {
                            // Создаем div контейнер для каждого чекбокса и его лейбла
                            const checkboxContainer = $('<div>')
                                .addClass('cat')
                                .addClass('action');

                            // Создаем лейбл для каждого тега
                            const label = $('<label>');

                            // Создаем чекбокс для каждого тега и добавляем его внутрь лейбла
                            const checkbox = $('<input type="checkbox">')
                                .attr('id', `tag-${key}`)
                                .attr('name', 'tags')
                                .attr('value', key)
                                .appendTo(label);

                            // Добавляем текст тега внутрь лейбла
                            label.append($('<span>').text(value));

                            // Добавляем лейбл в контейнер
                            checkboxContainer.append(label);

                            // Добавляем контейнер в блок с чекбоксами
                            tagsSelect.append(checkboxContainer);
                        });
                        tagsGroup.show(); // Показываем блок с чекбоксами для тегов
                    }
                });
            } else {
                tagsGroup.hide(); // Скрываем блок с чекбоксами для тегов, если субкатегория не выбрана
            }
        }

        // Отслеживаем изменения в поле выбора субкатегории
        subcategorySelect.change(loadTags);

        // Вызываем функцию загрузки тегов при инициализации страницы
        loadTags();

    });
</script>

<script src="{% static 'user/js/script.js' %}"></script>

</body>
</html>



