{% load i18n %}
{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-singin-client_id"
          content="1064949093248-47olpbv7o9ruglkk9g46ojcqhp1b12ev.apps.googleusercontent.com">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'css/product/style.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/authentication.css' %}">
</head>
<body>

{% include 'messages.html' %}

<section class="authentication login">
    <div class="main-header__logo">
        <a href="../..">
            <img src="{% static 'images/TECNOPROM-LOGO.png' %}" alt="logo">
        </a>
    </div>
    <div class="form login">
        <div class="form-content">
            <div class="form-text">
                <header>
                    {% translate 'Войти' %}
                </header>
            </div>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="field input-field">
                    {{ login_form.username }}
                </div>

                <div class="field input-field">
                    {{ login_form.password }}
                    <div class="eye-icon">
                        <i class="fa-regular fa-eye-slash" id="togglePassword"></i>
                    </div>
                </div>

                <div class="form-link">
                    <a href="{% url 'forgot-password' %}" class="forgot-password">{% translate "Забыли пароль?" %}</a>
                </div>


                <div class="field button-field">
                    <button>{% translate "Войти" %}</button>
                </div>
            </form>

        </div>

        <div class="social-media">
            <a href="{% provider_login_url 'google' %}">
                <img src="{% static 'user/image/icons-google.svg' %}" alt="google icon">
            </a>
        </div>
    </div>

    <div class="signup-banner">
        <div class="signup" id="for-singup-page">
            <div class="signup-content">
                <img src="{% static 'images/banners/banner-ishlatilgan-uskuna.svg' %}" alt="logo" class="signup-logo">
                <div class="signup-text">
                    <p>{% translate "Don't have an account" %}?
                        <a href="{% url 'register' %}" id="toggleRegisterLink">{% translate "Signup" %}</a></p>

                </div>
            </div>

        </div>

    </div>

</section>

<script>
    document.getElementById('togglePassword').addEventListener('click', function () {
        var passwordInput = document.getElementById('id_password');

        // Изменяем атрибут type у элемента input
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            document.getElementById('togglePassword').classList.replace('fa-eye-slash', 'fa-eye'); // Изменяем класс на fa-eye
        } else {
            passwordInput.type = 'password';
            document.getElementById('togglePassword').classList.replace('fa-eye', 'fa-eye-slash'); // Изменяем класс на fa-eye-slash
        }
    });
</script>

<!-- Display error messages here -->
{% include 'messages.html' %}

</body>
</html>
