{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="icon" href="{% static 'images/categories/yangi-uskunalar-24px.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/product/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/product/style.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/notification.css' %}">

    <title>{{ request.user }}</title>
</head>
<body>

<!-- Header section -->
{% include "nav_bar.html" %}
<!-- /Header section -->

{#{% include "messages.html" %}#}


{#<ul>#}
{% if notifications %}
    <section class="notification-section">
        <div class="notifications">
            <a href="{{ request.META.HTTP_REFERER }}" class="go-back-button">Go Back</a>
            {% for notification in notifications %}
                <div class="notification">
                    <div class="notification-text">
                        <span class="text">{{ notification.message }}</span>
                        <span class="notification-data">{{ notification.created_at|date:"d F Y г." }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% else %}
    <li>У вас пока нет уведомлений.</li>
{% endif %}



<script>
    document.getElementById('go-back-button').addEventListener('click', function () {
        window.history.back();
    });
</script>

</body>
</html>