{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/categories/yangi-uskunalar-24px.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin-panel.css' %}">
    <title>{{ request.user }}</title>
</head>
<body>

<!-- Header section -->
{% include "nav_bar.html" %}
<!-- /Header section -->

{% include "messages.html" %}

<!-- ADMIN PANEL -->
<section class="admin-panel">
    <div class="container">
        <div class="row-1">
            <div><h3 data-testid="header-title" class="css-6i2gxn er34gjf0">Ваши объявления</h3></div>
            <div class="admin-panel__buttons right-buttons">
                <ul class="buttons">
                    <li class="login-button"><a href="#">Hisobni to'ldiring</a></li>
                    <li class="price-button"><a href="#">Tariflar</a></li>
                </ul>
            </div>
        </div>

        <div class="tab-list">
            <button class="tab-button active" data-target="active-section">Активные</button>
            <button class="tab-button" data-target="waiting-section">В модерации</button>
            <button class="tab-button" data-target="finished-section">Не активные</button>
            <button class="tab-button" data-target="favorites-section">Избранные</button>
            <div class="underline"></div>
        </div>

        <div class="sections">
            <div class="section active-section">
                <form action="{% url 'product-action' %}" method="post">
                    {% csrf_token %}
                    <div class="action-buttons">
                        <button class="action-button delete-button" type="submit" name="action" value="delete" disabled>
                            Удалить
                        </button>
                        <button class="action-button edit-button" type="submit" name="action" value="edit" disabled>
                            Изменить
                        </button>
                        <button class="action-button deactivate-button" type="submit" name="action" value="deactivate"
                                disabled>Деактивировать
                        </button>
                    </div>
                    <div class="cards">
                        {% for product in products %}
                            {% if product.is_active and product.is_published %}
                                {% if product.type == 'buy' %}
                                    <div class="card__buy card-color">
                                        <div class="card__buy-content">
                                            <label>
                                                <input type="checkbox" class="card-checkbox" name="selected_products"
                                                       value="{{ product.pk }}">
                                            </label>
                                            <div class="category-info">
                                                <div class="product-cat__image">
                                                    <img src="{% static "images/categories/1.svg" %}" alt="cat image">
                                                </div>
                                                <a href="#">{{ product.category }}</a>
                                            </div>
                                            <h2 class="title"><a href="{% url "product-detail" product.pk %}"
                                                                 class="title">{{ product.title }}</a>
                                            </h2>
                                            <p class="description">{{ product.description }}</p>
                                            <div class="product-data">
                                                <div class="flags">
                                                    <span class="country">{{ product.country }}</span>
                                                </div>
                                                <div class="date">
                                                    <span class="css-fscvqi er34gjf0">Опубликовано {{ product.create_date|date:"d F Y г." }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="card__sell card-color">
                                        <div class="card__sell-content">
                                            <label>
                                                <input type="checkbox" class="card-checkbox" name="selected_products"
                                                       value="{{ product.pk }}">
                                            </label>
                                            <div class="card__sell-image">
                                                <img src="{{ product.image.url }}" alt="Product Image">
                                            </div>
                                            <h2 class="title">{{ product.title }}</h2>
                                            <div class="product-data">
                                                <div class="flags">
                                                    <span class="country">{{ product.country }}</span>
                                                </div>
                                                <div class="date">
                                                    <span class="css-fscvqi er34gjf0">Опубликовано {{ product.create_date|date:"d F Y г." }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </form>
            </div>
            <div class="section waiting-section">
                <form action="{% url 'product-action' %}" method="post">
                    {% csrf_token %}
                    <div class="action-buttons">
                        <button class="action-button delete-button" type="submit" name="action" value="delete" disabled>
                            Удалить
                        </button>
                    </div>
                    <div class="cards">
                        {% for product in products %}
                            {% if not product.is_active %}
                                {% if product.type == 'buy' %}
                                    <div class="card__buy card-color">
                                        <div class="card__buy-content">
                                            <label>
                                                <input type="checkbox" class="card-checkbox" name="selected_products"
                                                       value="{{ product.pk }}">
                                            </label>
                                            <div class="category-info">
                                                <div class="product-cat__image">
                                                    <img src="{% static "images/categories/1.svg" %}" alt="cat image">
                                                </div>
                                                <a href="#">{{ product.category }}</a>
                                            </div>
                                            <h2 class="title"><a href="{% url "product-detail" product.pk %}"
                                                                 class="title">{{ product.title }}</a>
                                            </h2>
                                            <p class="description">{{ product.description }}</p>
                                            <div class="product-data">
                                                <div class="flags">
                                                    <span class="country">{{ product.country }}</span>
                                                </div>
                                                <div class="date">
                                                    <span class="css-fscvqi er34gjf0">Опубликовано {{ product.create_date|date:"d F Y г." }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="card__sell card-color">
                                        <div class="card__sell-content">
                                            <label>
                                                <input type="checkbox" class="card-checkbox" name="selected_products"
                                                       value="{{ product.pk }}">
                                            </label>
                                            <div class="card__sell-image">
                                                <img src="{{ product.image.url }}" alt="Product Image">
                                            </div>
                                            <h2 class="title">{{ product.title }}</h2>
                                            <div class="product-data">
                                                <div class="flags">
                                                    <span class="country">{{ product.country }}</span>
                                                </div>
                                                <div class="date">
                                                    <span class="css-fscvqi er34gjf0">Опубликовано {{ product.create_date|date:"d F Y г." }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </form>
            </div>
            <div class="section finished-section">
                <form action="{% url 'product-action' %}" method="post">
                    {% csrf_token %}
                    <div class="action-buttons">
                        <button class="action-button delete-button" type="submit" name="action" value="delete" disabled>
                            Удалить
                        </button>
                        <button class="action-button edit-button" type="submit" name="action" value="edit" disabled>
                            Изменить
                        </button>
                        <button class="action-button deactivate-button" type="submit" name="action" value="deactivate"
                                disabled>Деактивировать
                        </button>
                    </div>
                    <div class="cards">
                        {% for product in products %}
                            {% if not product.is_published %}
                                {% if product.type == 'buy' %}
                                    <div class="card__buy card-color">
                                        <div class="card__buy-content">
                                            <label>
                                                <input type="checkbox" class="card-checkbox" name="selected_products"
                                                       value="{{ product.pk }}">
                                            </label>
                                            <div class="category-info">
                                                <div class="product-cat__image">
                                                    <img src="{% static "images/categories/1.svg" %}" alt="cat image">
                                                </div>
                                                <a href="#">{{ product.category }}</a>
                                            </div>
                                            <h2 class="title"><a href="{% url "product-detail" product.pk %}"
                                                                 class="title">{{ product.title }}</a>
                                            </h2>
                                            <p class="description">{{ product.description }}</p>
                                            <div class="product-data">
                                                <div class="flags">
                                                    {#                                            <img src="./images/Flag_of_Uzbekistan.svg" alt="Флаг страны">#}
                                                    <span class="country">{{ product.country }}</span>
                                                </div>
                                                <div class="date">
                                                    <span class="css-fscvqi er34gjf0">Опубликовано {{ product.create_date|date:"d F Y г." }}</span>

                                                    {#                                            <span class="full-date">{{ product.create_date }}</span>#}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="card__sell card-color">
                                        <div class="card__sell-content">
                                            <label>
                                                <input type="checkbox" class="card-checkbox" name="selected_products"
                                                       value="{{ product.pk }}">
                                            </label>
                                            <div class="card__sell-image">
                                                <img src="{{ product.image.url }}" alt="Product Image">
                                            </div>
                                            <h2 class="title">{{ product.title }}</h2>
                                            <div class="product-data">
                                                <div class="flags">
                                                    <span class="country">{{ product.country }}</span>
                                                </div>
                                                <div class="date">
                                                    <span class="css-fscvqi er34gjf0">Опубликовано {{ product.create_date|date:"d F Y г." }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </form>

            </div>
            <div class="section favorites-section">
                favorites
            </div>
        </div>


    </div>
</section>
<!-- ADMIN PANEL -->

<script>
    const tabButtons = document.querySelectorAll('.tab-button');
    const sections = document.querySelectorAll('.section');

    tabButtons.forEach(button => {
        button.addEventListener('click', () => {
            // Скрываем все разделы
            sections.forEach(section => {
                section.style.display = 'none';
            });

            // Определяем соответствующий раздел
            const target = button.getAttribute('data-target');
            const sectionToShow = document.querySelector(`.${target}`);

            // Показываем выбранный раздел
            sectionToShow.style.display = 'block';

            // Подсвечиваем активную кнопку
            tabButtons.forEach(btn => {
                btn.classList.remove('active');
            });
            button.classList.add('active');
        });
    });
</script>

<script>
    // Get all the tag placeholders
    const tagPlaceholders = document.querySelectorAll('.tag-placeholder');

    // Loop through each tag placeholder
    tagPlaceholders.forEach(tagPlaceholder => {
        // Add event listener to each tag placeholder
        tagPlaceholder.addEventListener('click', () => {
            // Prompt the user for input (tag text)
            const tagText = prompt('Enter tag text:');

            // Set the tag placeholder's content to the entered tag text
            tagPlaceholder.textContent = tagText;
        });
    });

</script>

<script>

    document.addEventListener('DOMContentLoaded', () => {
        const checkboxes = document.querySelectorAll('.card-checkbox');
        const actionButtons = document.querySelectorAll('.action-button');

        function updateButtonsState() {
            const checkedCheckboxes = document.querySelectorAll('.card-checkbox:checked');
            const isAnyCheckboxChecked = checkedCheckboxes.length > 0;

            actionButtons.forEach(button => {
                if (!isAnyCheckboxChecked) {
                    button.disabled = true;
                } else {
                    button.disabled = false;
                    if (button.classList.contains('edit-button')) {
                        button.disabled = checkedCheckboxes.length > 1;
                    }
                }
            });
        }

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', updateButtonsState);
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const actionButtons = document.querySelectorAll(".action-button");
        const selectedProducts = document.querySelectorAll(".card-checkbox");

        // Обработчик события для кнопок действий
        actionButtons.forEach((button) => {
            button.addEventListener("click", function () {
                const action = button.getAttribute("data-action");
                const selectedProductIds = [];

                // Находим выбранные продукты
                selectedProducts.forEach((checkbox) => {
                    if (checkbox.checked) {
                        selectedProductIds.push(checkbox.value);
                    }
                });

                // Отправляем POST-запрос на сервер в зависимости от выбранного действия
                if (selectedProductIds.length > 0) {
                    const csrfToken = document.querySelector("[name=csrfmiddlewaretoken]").value;
                    fetch("{% url 'product-action' %}", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRFToken": csrfToken,
                        },
                        body: JSON.stringify({
                            action: action,
                            selected_products: selectedProductIds,
                        }),
                    })
                        .then((response) => {
                            if (response.ok) {
                                // Обновляем страницу после успешного выполнения действия
                                window.location.reload();
                            }
                        })
                        .catch((error) => {
                            console.error("Ошибка при выполнении действия:", error);
                        });
                } else {
                    alert("Выберите продукты для выполнения действия.");
                }
            });
        });
    });
</script>

</body>
</html>