{% load i18n %}
{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="icon" href="{% static 'images/categories/yangi-uskunalar-24px.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/product/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/product/style.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/admin-panel.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/Tecnopromlinkedin.css' %}">

    <title>{{ request.user }}</title>
</head>
<body>

<!-- Header section -->
{% include "nav_bar.html" %}
<!-- /Header section -->

{% include "messages.html" %}


<section class="user-info">

    <div class="container">
        {% if user.is_business_account %}
            <div class="user-profile">
                <div class="user-photos">
                    <div class="user-banner">
                        <img src="{{ user.banner.url }}" alt="banner">
                    </div>
                    <div class="user-profile__foto">
                        <img src="{{ user.logo.url }}" alt="profile foto">
                    </div>
                </div>
                <div class="profile-info">
                    <div class="block-1">
                        <h1 class="profile-info__title">
                            {{ user.company_name }}
                            <a class="update-profile-btn dont-text-decoration" href="{% url 'update_profile' %}"
                               style="color: black">
                                <i class="fa-solid fa-pen"></i>
                            </a>
                        </h1>
                        <div class="profile-description">
                            <p>{{ user.description }}</p>
                        </div>

                        <div class="more_data-company">{{ user.country }}</div>
                        <div class="more_data-company">{{ user.category }} / {{ user.sub_category }}</div>
                        <div class="more_data-company">{% for foo in user.tags.all %}
                            {{ foo }}
                        {% endfor %}
                        </div>
                    </div>
                    <div class="block-2" style="position: relative">
                        <div class="profile-buttons" style="display: none">
                            <a class="dont-text-decoration" href="#"><span
                                    class="following text-medium-weight border-for-buttons"><i
                                    class="fa-solid fa-check"></i> {% translate 'Отслеживаете' %}</span></a>
                            <a class="dont-text-decoration" href="#"><span
                                    class="connect-with-us text-medium-weight border-for-buttons disabled">{% translate 'Связаться с нами' %}<i
                                    class="fa-solid fa-arrow-up-right-from-square"
                                    style="font-size: 12px; padding-left: 5px"></i></span></a>
                            {#                            <a class="dont-text-decoration">#}
                            <span
                                    class="more text-medium-weight">...</span>
                            {#                            </a>#}
                            <div class="more-section">
                                <a href="" class="more-section_button">1</a>
                                <a href="" class="more-section_button">2</a>
                                <a href="" class="more-section_button">3</a>
                                <a href="" class="more-section_button">4</a>
                            </div>
                        </div>

                        <div class="test-view">
                            <div class="all_views-product">
                                <span>{% translate "seen" %}:{{ count_all_views_product }}</span>
                            </div>
                            <div class="all_views-likes">
                                <span>{% translate "open number" %}: {{ count_all_favorite_product }}</span>
                            </div>
                            <div class="all_views-open-number">
                                <span>{% translate "like" %}: {{ count_all_view_telephone_product }}</span>
                            </div>
                        </div>

                        <div class="notification-info">

                            {#                            <div class="balls">#}
                            {#                                : {{ user.ball }}#}
                            {#                            </div>#}

                            <a href="{% url 'notification' %}">
                                {% if notification %}
                                    <img src="{% static 'user/image/notification.svg' %}" alt="notification 0">
                                {% else %}
                                    <img src="{% static 'user/image/notification-_1_.svg' %}" alt="notification 1">
                                {% endif %}
                            </a>

                            <div class="logout-profile-btn">
                                <a href="{% url 'logout' %}" class="dont-text-decoration">
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                </a>
                            </div>
                        </div>
                        {#                        <div class="notification-info" style="display: flex; gap: 100px">#}
                        {#                        </div>#}
                        {#                        <div class="update-profile-button">#}
                        {#                            <a class="dont-text-decoration" href="{% url 'update_profile' %}">#}
                        {#                                <i class="fa-solid fa-pen"></i>#}
                        {#                            </a>#}
                        {#                        </div>#}

                    </div>
                </div>
            </div>
        {% else %}
            <div class="user-profile__user">
                <div class="user-photos">
                    <img src="{% static "images/avatar.png" %}" alt="avatar">
                </div>
                <h1>
                    {{ user.username }}
                </h1>
                <div class="test-view">
                    <div class="all_views-product">
                        <span>{% translate "seen" %}:{{ count_all_views_product }}</span>
                    </div>
                    <div class="all_views-likes">
                        <span>{% translate "open number" %}: {{ count_all_favorite_product }}</span>
                    </div>
                    <div class="all_views-open-number">
                        <span>{% translate "like" %}: {{ count_all_view_telephone_product }}</span>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</section>

<!-- ADMIN PANEL -->
<section class="admin-panel">
    <div class="container">
        <div class="row-1">
            <div><h3 data-testid="header-title" class="css-6i2gxn er34gjf0">{% translate "Ваши объявления" %}</h3></div>
            <div class="admin-panel__buttons right-buttons">
                <ul class="buttons">
                    <li class="price-button"><a href="#"><i class="fa-solid fa-wallet"></i>: {{ user.ball }}</a></li>
                    <li class="login-button"><a
                            href="{% url "top-up-your-account" %}">{% translate "Пополнить счет" %}</a></li>
                    <li class="price-button"><a href="#">{% translate "Тарифы" %}</a></li>
                </ul>
            </div>
        </div>

        <div class="tab-list">
            <div style="position:absolute; left: 0;">
                <span><a
                        style="background: #0a24b9; color: white; padding: 8px 24px; border-radius: 18px; text-decoration: none"
                        href="{% url 'add_film' %}">{% translate "размещение заказа" %}</a></span>
            </div>
            <button class="tab-button active" data-target="active-section">{% translate "Активные" %}</button>
            <button class="tab-button" data-target="waiting-section">{% translate "В модерации" %}</button>
            <button class="tab-button" data-target="finished-section">{% translate "Не активные" %}</button>
            <button class="tab-button" data-target="favorites-section">{% translate "Избранные" %}</button>
            <div class="underline"></div>
        </div>

        <div class="sections">
            <form action="{% url 'myaccount' %}" method="post">
                {% csrf_token %}
                <div class="section active-section">
                    <div class="action-buttons">
                        <button class="action-button delete-button" type="submit" name="action" value="delete"
                                disabled>
                            {% translate "Удалить" %}
                        </button>
                        <button class="action-button edit-button" type="submit" name="action" value="edit" disabled>
                            {% translate "Изменить" %}
                        </button>
                        <button class="action-button deactivate-button" type="submit" name="action"
                                value="deactivate"
                                disabled>{% translate "Деактивировать" %}
                        </button>
                        <div class="open-action-buttons up_to_recommendation-button"
                             data-action="up_to_recommendation"
                             disabled>
                            {% translate "Поднять в топ 1" %}
                            <div class="options">
                                <button class="action-button up_to_recommendation-button"
                                        id="up_to_recommendation-button" type="submit"
                                        name="action"
                                        value="up_to_recommendation 1"
                                        disabled>{% translate "1 день" %}
                                </button>
                                <button class="action-button up_to_recommendation-button"
                                        id="up_to_recommendation-button" type="submit"
                                        name="action"
                                        value="up_to_recommendation 2"
                                        disabled>{% translate "2 дня" %}
                                </button>
                                <button class="action-button up_to_recommendation-button"
                                        id="up_to_recommendation-button" type="submit"
                                        name="action"
                                        value="up_to_recommendation 3"
                                        disabled>{% translate "3 дней" %}
                                </button>
                            </div>
                        </div>
                        <button class="action-button up_to_top-button" type="submit" name="action"
                                value="up_to_top"
                                disabled>{% translate "up_to_top 2" %}
                        </button>
                    </div>

                    <div class="cd-popup" role="alert">
                        <div class="cd-popup-container">
                            <p>{% translate "Вы уверены, что хотите выполнить это действие?" %}</p>
                            <div class="cd-buttons">
                                <button class="confirm-yes">{% translate "Да" %}</button>
                                <button class="confirm-no">{% translate "Нет" %}</button>
                            </div>
                            <a href="{% url 'myaccount' %}" class="cd-popup-close img-replace"></a>
                        </div>
                    </div>

                    <div class="cards">
                        {% for product in products %}
                            {% if product.is_active and product.is_published %}
                                {% if product.type == 'buy' %}
                                    <div class="card__buy card-color">
                                        <div class="card__buy-content">
                                            <label>
                                                <input type="checkbox" class="card-checkbox"
                                                       name="selected_products"
                                                       value="{{ product.pk }}">
                                            </label>
                                            <div class="category-info">
                                                <div class="product-cat__image">
                                                    <img src="{% static "images/categories/1.svg" %}"
                                                         alt="cat image">
                                                </div>
                                                <a href="#">{{ product.category }}</a>
                                            </div>
                                            <h2 class="title"><a href="{% url "product-detail" product.pk %}"
                                                                 class="title">{{ product.title }}</a>
                                            </h2>
                                            <p class="description">{{ product.description }}</p>
                                            <div class="product-data">
                                                {% if product.is_top_film %}
                                                    <span style="padding: 3px 10px; font-size: 12px; background-color: #4ac1f7; border-radius: 5px;">top {{ product.top_duration }} day</span>
                                                {% endif %}
                                                <div class="flags">
                                                    <span class="country">{{ product.country }}</span>
                                                </div>
                                                {#                                                <div class="date">#}
                                                {#                                                    {% if not product.create_date_changed %}#}
                                                {#                                                        <span class="css-fscvqi er34gjf0">{% translate "Опубликовано" %} {{ product.create_date|date:"d F Y г." }}</span>#}
                                                {##}
                                                {#                                                    {% else %}#}
                                                {#                                                        <span class="css-fscvqi er34gjf0">{% translate "Изменено" %} {{ product.create_date|date:"d F Y г." }}</span>#}
                                                {#                                                    {% endif %}#}
                                                {#                                                </div>#}
                                                <div class="like-and-more">
                                                    <a href="{% url 'product-detail' product.pk %}"
                                                       class="read-more">{% translate 'Подробнее' %}</a>
                                                    <div class="svg-icon-container">
                                                        {% if user.is_authenticated %}
                                                            <span class="add-to-favorites"
                                                                  data-product-id="{{ product.id }}"
                                                                  data-url="{% url 'add_to_favorites' product.id %}">
                                            <i class="fa-{% if product.pk in in_favorite %}solid{% else %}regular{% endif %} fa-heart fa-lg"></i>
                                        </span>
                                                        {% endif %}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="card__sell card-color">
                                        <div class="card__sell-content">
                                            <label>
                                                <input type="checkbox" class="card-checkbox"
                                                       name="selected_products"
                                                       value="{{ product.pk }}">
                                            </label>
                                            <div class="card__sell-image">
                                                <img src="{{ product.image.url }}" alt="Product Image">
                                            </div>
                                            <h2 class="title">{{ product.title }}</h2>
                                            <div class="product-data">
                                                {% if product.is_top_film %}
                                                    <span style="padding: 3px 10px; font-size: 12px; background-color: #4ac1f7; border-radius: 5px;">top {{ product.top_duration }} day</span>
                                                {% endif %}
                                                <div class="flags">
                                                    <span class="country">{{ product.country }}</span>
                                                </div>
                                                {#                                                <div class="date">#}
                                                {#                                                    {% if not product.create_date_changed %}#}
                                                {#                                                        <span class="css-fscvqi er34gjf0">Опубликовано {{ product.create_date|date:"d F Y г." }}</span>#}
                                                {#                                                    {% else %}#}
                                                {#                                                        <span class="css-fscvqi er34gjf0">Изменено {{ product.create_date|date:"d F Y г." }}</span>#}
                                                {#                                                    {% endif %}#}
                                                {#                                                </div>#}
                                                <div class="like-and-more">
                                                    <a href="{% url 'product-detail' product.pk %}">
                                                        {{ product.price|floatformat:0|intcomma }}
                                                        {% translate "сум" %}
                                                    </a>
                                                    <div class="svg-icon-container">
                                                        {% if user.is_authenticated %}
                                                            <span class="add-to-favorites"
                                                                  data-product-id="{{ product.id }}"
                                                                  data-url="{% url 'add_to_favorites' product.id %}">
                                            <i class="fa-{% if product.pk in in_favorite %}solid{% else %}regular{% endif %} fa-heart fa-lg"></i>
                                        </span>
                                                        {% endif %}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="section favorites-section">
                    <div class="cards">
                        {% for product in favorite_products %}
                            {% if product.type == 'buy' %}
                                <div class="card__buy card-color">
                                    <div class="card__buy-content">
                                        <div class="category-info">
                                            <div class="product-cat__image">
                                                {% if product.category.pk == 1 %}
                                                    <img src="{% static 'images/categories/yangi-uskunalar-24px.png' %}"
                                                         alt="cat image">
                                                {% elif product.category.pk == 2 %}
                                                    <img src="{% static 'images/categories/ishlatilgan-uskunalar-24px.png' %}"
                                                         alt="cat image">
                                                {% elif product.category.pk == 3 %}
                                                    <img src="{% static 'images/categories/xomashyo-24px.png' %}"
                                                         alt="cat image">
                                                {% elif product.category.pk == 4 %}
                                                    <img src="{% static 'images/categories/4.svg' %}" alt="cat image">
                                                {% endif %}
                                            </div>
                                            <a href="{% url "product-list" %}">{{ product.category }}
                                                | {{ product.sub_category }}</a>
                                        </div>
                                        <h2 class="title"><a href="{% url 'product-detail' product.pk %}"
                                                             class="title">{{ product.title }}</a></h2>
                                        <p class="description">{{ product.description }}</p>
                                        <div class="product-data">
                                            <div class="flags">
                                                <span class="country">{{ product.country }}</span>
                                            </div>
                                            <div class="date">
                                                <span class="css-fscvqi er34gjf0">{% translate 'Опубликовано' %} {{ product.create_date|date:"d F Y г." }}</span>
                                            </div>
                                            <div class="like-and-more">
                                                <a href="{% url 'product-detail' product.pk %}"
                                                   class="read-more">{% translate 'Подробнее' %}</a>
                                                <div class="svg-icon-container">
                                                    {% if user.is_authenticated %}
                                                        <span class="add-to-favorites"
                                                              data-product-id="{{ product.pk }}"
                                                              data-url="{% url 'add_to_favorites' product.pk %}">
                                                <i class="fa-{% if product.pk in in_favorite %}solid{% else %}regular{% endif %} fa-heart"
                                                   style="cursor: pointer; width: 24px"></i>
                                            </span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="card__sell card-color">
                                    <div class="card__buy-content">
                                        <div class="card__sell-image">
                                            <img src="{{ product.image.url }}" alt="Product Image">
                                        </div>
                                        <a href="{% url 'product-detail' product.pk %}"
                                           class="title">{{ product.title }}</a>

                                        <div class="product-data">
                                            <div class="flags">
                                                <span class="country">{{ product.country }}</span>
                                            </div>
                                            <div class="date">
                                                <span class="full-date">{{ product.create_date }}</span>
                                            </div>
                                            <div class="like-and-more">
                                                <a href="{% url "product-detail" product.pk %}"
                                                   class="read-more">{% translate 'Подробнее' %}</a>
                                                <div class="svg-icon-container">
                                                    {% if user.is_authenticated %}
                                                        <span class="add-to-favorites"
                                                              data-product-id="{{ product.pk }}"
                                                              data-url="{% url 'add_to_favorites' product.pk %}">
                                                <i class="fa-{% if product.pk in in_favorite %}solid{% else %}regular{% endif %} fa-heart"
                                                   style="cursor: pointer; width: 24px"></i>
                                            </span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="section finished-section">
                    <div class="action-buttons">
                        <button class="action-button delete-button" type="submit" name="action" value="delete"
                                disabled>
                            {% translate 'Удалить' %}
                        </button>
                        <button class="action-button edit-button" type="submit" name="action" value="edit" disabled>
                            {% translate 'Изменить' %}
                        </button>
                        <button class="action-button activate-button" type="submit" name="action" value="activate"
                                disabled>{% translate 'Активировать' %}
                        </button>
                    </div>

                    <div class="cd-popup" role="alert">
                        <div class="cd-popup-container">
                            <p>{% translate 'Are you sure you want to perform this action?' %}</p>
                            <div class="cd-buttons">
                                <button class="confirm-yes">{% translate 'Yes' %}</button>
                                <button class="confirm-no">{% translate 'No' %}</button>
                            </div>
                            <a href="#" class="cd-popup-close img-replace"></a>
                        </div>
                    </div>

                    <div class="cards">
                        {% for product in products %}
                            {% if not product.is_published %}
                                {% if product.type == 'buy' %}
                                    <div class="card__buy card-color">
                                        <div class="card__buy-content">
                                            <label>
                                                <input type="checkbox" class="card-checkbox"
                                                       name="selected_products"
                                                       value="{{ product.pk }}">
                                            </label>
                                            <div class="category-info">
                                                <div class="product-cat__image">
                                                    <img src="{% static "images/categories/1.svg" %}"
                                                         alt="cat image">
                                                </div>
                                                <a href="#">{{ product.category }}</a>
                                            </div>
                                            <h2 class="title"><a href="{% url "product-detail" product.pk %}"
                                                                 class="title">{{ product.title }}</a>
                                            </h2>
                                            <p class="description">{{ product.description }}</p>
                                            <div class="product-data">

                                                <div class="flags">
                                                    {#                                            <img src="./images/Flag_of_Uzbekistan.svg" alt="Флаг страны">#}
                                                    <span class="country">{{ product.country }}</span>
                                                </div>
                                                <div class="date">
                                                    <span class="css-fscvqi er34gjf0">Опубликовано {{ product.create_date|date:"d F Y г." }}</span>

                                                    {#                                            <span class="full-date">{{ product.create_date }}</span>#}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="card__sell card-color">
                                        <div class="card__sell-content">
                                            <label>
                                                <input type="checkbox" class="card-checkbox"
                                                       name="selected_products"
                                                       value="{{ product.pk }}">
                                            </label>
                                            <div class="card__sell-image">
                                                <img src="{{ product.image.url }}" alt="Product Image">
                                            </div>
                                            <h2 class="title">{{ product.title }}</h2>
                                            <div class="product-data">
                                                <div class="flags">
                                                    <span class="country">{{ product.country }}</span>
                                                </div>
                                                <div class="date">
                                                    <span class="css-fscvqi er34gjf0">{% translate 'Опубликовано' %} {{ product.create_date|date:"d F Y г." }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="section waiting-section">
                    <div class="action-buttons">
                        <button class="action-button delete-button" type="submit" name="action" value="delete"
                                disabled>
                            {% translate 'Удалить' %}
                        </button>
                    </div>

                    <div class="cd-popup" role="alert">
                        <div class="cd-popup-container">
                            <p>{% translate 'Are you sure you want to perform this action?' %}</p>
                            <ul class="cd-buttons">
                                <li>
                                    <button class="confirm-yes">{% translate 'Да' %}</button>
                                </li>
                                <li>
                                    <button class="confirm-no">{% translate 'Нет' %}</button>
                                </li>
                            </ul>
                            <a href="" class="cd-popup-close img-replace"></a>
                        </div>
                    </div>

                    <div class="cards">
                        {% for product in products %}
                            {% if not product.is_active %}
                                {% if product.type == 'buy' %}
                                    <div class="card__buy card-color">
                                        <div class="card__buy-content">
                                            <label>
                                                <input type="checkbox" class="card-checkbox"
                                                       name="selected_products"
                                                       value="{{ product.pk }}">
                                            </label>
                                            <div class="category-info">
                                                <div class="product-cat__image">
                                                    <img src="{% static "images/categories/1.svg" %}"
                                                         alt="cat image">
                                                </div>
                                                <a href="#">{{ product.category }}</a>
                                            </div>
                                            <h2 class="title"><a href="{% url "product-detail" product.pk %}"
                                                                 class="title">{{ product.title }}</a>
                                            </h2>
                                            <p class="description">{{ product.description }}</p>
                                            <div class="product-data">
                                                <div class="flags">
                                                    <span class="country">{{ product.country }}</span>
                                                </div>
                                                <div class="date">
                                                    <span class="css-fscvqi er34gjf0">{% translate 'Опубликовано' %} {{ product.create_date|date:"d F Y г." }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="card__sell card-color">
                                        <div class="card__sell-content">
                                            <label>
                                                <input type="checkbox" class="card-checkbox"
                                                       name="selected_products"
                                                       value="{{ product.pk }}">
                                            </label>
                                            <div class="card__sell-image">
                                                <img src="{{ product.image.url }}" alt="Product Image">
                                            </div>
                                            <h2 class="title">{{ product.title }}</h2>
                                            <div class="product-data">
                                                <div class="flags">
                                                    <span class="country">{{ product.country }}</span>
                                                </div>
                                                <div class="date">
                                                    <span class="css-fscvqi er34gjf0">{% translate 'Опубликовано' %} {{ product.create_date|date:"d F Y г." }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% include 'footer.html' %}
<!-- ADMIN PANEL -->

<!-- Подключите jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    const tabButtons = document.querySelectorAll('.tab-button');
    const tabContents = document.querySelectorAll('.tab-content');

    tabButtons.forEach(button => {
        button.addEventListener('click', () => {
            // Hide all tab contents
            tabContents.forEach(content => content.classList.remove('active'));

            // Find the target section and show it
            const targetId = button.getAttribute('data-target');

            tabButtons.forEach(btn => btn.classList.remove('active'));

            // Add the 'active' class to the clicked button
            button.classList.add('active');
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tabButtons = document.querySelectorAll('.tab-button');
        const sections = document.querySelectorAll('.section');
        const checkboxes = document.querySelectorAll('.card-checkbox');
        const actionButtons = document.querySelectorAll(".action-button");


        function resetCheckboxes() {
            checkboxes.forEach(checkbox => {
                checkbox.checked = false;
            });

            // Сбросить состояние disabled для кнопок
            actionButtons.forEach(button => {
                button.disabled = true;
            });

            // Отключить элемент с классом open-action-buttons и его потомков
            const openActionButtons = document.querySelector('.open-action-buttons');
            if (openActionButtons) {
                openActionButtons.disabled = true;
                const innerButtons = openActionButtons.querySelectorAll('.action-button');
                innerButtons.forEach(button => {
                    button.disabled = true;
                });
            }
        }


        // Функция для установки активной вкладки
        function setActiveTab(tabId) {
            // Сбрасываем выбранные чекбоксы
            resetCheckboxes();

            // Остальной код остается без изменений
            sections.forEach(section => {
                section.style.display = 'none';
            });

            const sectionToShow = document.querySelector(`.${tabId}`);
            sectionToShow.style.display = 'block';

            tabButtons.forEach(btn => {
                btn.classList.remove('active');
            });
            const activeButton = document.querySelector(`[data-target="${tabId}"]`);
            if (activeButton) {
                activeButton.classList.add('active');
            }
        }

        tabButtons.forEach(button => {
            button.addEventListener('click', () => {
                const target = button.getAttribute('data-target');
                setActiveTab(target);

                localStorage.setItem('activeTab', target);
            });
        });

        const savedActiveTab = localStorage.getItem('activeTab');
        if (savedActiveTab) {
            setActiveTab(savedActiveTab);
        }
    });
</script>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const checkboxes = document.querySelectorAll('.card-checkbox');
        const actionButtons = document.querySelectorAll('.action-button');
        const openactionButtons = document.querySelectorAll('.open-action-buttons');

        function updateButtonsState() {
            const checkedCheckboxes = document.querySelectorAll('.card-checkbox:checked');
            const isAnyCheckboxChecked = checkedCheckboxes.length > 0;

            actionButtons.forEach(button => {
                if (!isAnyCheckboxChecked) {
                    button.disabled = true;
                } else {
                    button.disabled = false;
                    if (button.classList.contains('edit-button') || button.classList.contains('up_to_recommendation-button')) {
                        button.disabled = checkedCheckboxes.length > 1;
                    }
                }
            });

            openactionButtons.forEach(button => {
                if (isAnyCheckboxChecked) {
                    button.removeAttribute('disabled');
                } else {
                    button.setAttribute('disabled', 'disabled');
                }
            });
        }

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', updateButtonsState);
        });
    });
</script>


{#<script src="{% static 'user/js/main.js' %}"></script> <!-- Resource jQuery -->#}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const actionButtons = document.querySelectorAll(".action-button");
        const selectedProducts = document.querySelectorAll(".card-checkbox");
        const cdPopup = document.querySelector(".cd-popup");
        const confirmYesButton = document.querySelectorAll(".confirm-yes");
        const confirmNoButton = document.querySelectorAll(".confirm-no");

        // Обработчик события для кнопок действий
        actionButtons.forEach((button) => {
            button.addEventListener("click", function (e) {
                e.preventDefault(); // Предотвращаем стандартное действие отправки формы.

                const action = button.getAttribute("value"); // Получаем значение "action" из кнопки.
                const selectedProductIds = [];

                selectedProducts.forEach((checkbox) => {
                    if (checkbox.checked) {
                        selectedProductIds.push(checkbox.value);
                    }
                });

                // Отображаем подтверждающее сообщение (cd-popup) с выбранным "action".
                const currentSection = button.closest(".section");
                const cdPopup = currentSection.querySelector(".cd-popup");

                const confirmYesButton = cdPopup.querySelector(".confirm-yes");
                confirmYesButton.setAttribute("value", action); // Сохраняем "action" в кнопке подтверждения.
                confirmYesButton.setAttribute("name", "action"); // Устанавливаем имя "action" для кнопки подтверждения.

                cdPopup.classList.add("is-visible");
            });
        });

        // Обработчик подтверждения
        confirmYesButton.addEventListener("click", function () {
            const selectedProductIds = [];

            selectedProducts.forEach((checkbox) => {
                if (checkbox.checked) {
                    selectedProductIds.push(checkbox.value);
                }
            });

            // Закрываем подтверждающее сообщение
            cdPopup.classList.remove("is-visible");

            // Пересылаем данные на сервер только после подтверждения с использованием jQuery
            if (selectedProductIds.length > 0) {
                const action = confirmYesButton.getAttribute("action");
                const csrfToken = document.querySelector("[name=csrfmiddlewaretoken]").value;

                $.ajax({
                    url: "{% url 'myaccount' %}",
                    type: "POST",
                    dataType: "json",
                    headers: {
                        "X-CSRFToken": csrfToken,
                    },
                    data: {
                        action: action,
                        selected_products: selectedProductIds,
                    },
                    success: function () {
                        window.location.reload()
                    },
                    error: function (error) {
                        console.error("Ошибка при выполнении действия:", error);
                    }
                });
            } else {
                alert("Выберите продукты для выполнения действия.");
            }
        });


    });
</script> <!-- Resource jQuery -->

<!-- like button -->
<script>
    $(document).ready(function () {
        $(".add-to-favorites").click(function () {
            var span = $(this);
            var productId = span.data("product-id");

            // Отправляем AJAX-запрос к add_to_favorites
            $.ajax({
                url: "{% url 'add_to_favorites' 0 %}".replace('0', productId),
                type: "POST",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (data) {
                    if (data.added) {
                        // Продукт был добавлен в избранное, меняем иконку на fa-solid
                        span.find('i').removeClass('fa-regular').addClass('fa-solid');
                    } else {
                        // Продукт был удален из избранного, меняем иконку на fa-regular
                        span.find('i').removeClass('fa-solid').addClass('fa-regular');
                    }
                },
                error: function () {
                    alert("Произошла ошибка при обновлении избранного.");
                }
            });
        });
    });
</script>


{#менять текст смотря какой кнопка ножал пользователь#}
{#<script>#}
{#    // Отслеживаем нажатие на кнопки действий#}
{#    document.querySelectorAll('.action-button').forEach(function (button) {#}
{#        button.addEventListener('click', function () {#}
{#            // Получаем значение атрибута "value" кнопки#}
{#            var action = button.getAttribute('value');#}
{##}
{#            // Изменяем текст модального окна в зависимости от действия#}
{#            var modalText = 'Are you sure you want to perform this action?';#}
{#            if (action === 'delete') {#}
{#                modalText = 'Are you sure you want to delete this item?';#}
{#            } else if (action === 'deactivate') {#}
{#                modalText = 'Are you sure you want to deactivate this item?';#}
{#            } else if (action.startsWith('up_to_recommendation')) {#}
{#                modalText = 'Are you sure you want to move this item to recommendations for ' + action.split(' ')[1] + ' day(s)?';#}
{#            } else if (action === 'up_to_top') {#}
{#                modalText = 'Are you sure you want to move this item to the top?';#}
{#            }#}
{##}
{#            // Устанавливаем новый текст модального окна#}
{#            document.querySelector('.cd-popup p').textContent = modalText;#}
{#        });#}
{#    });#}
{#</script>#}
<script>
    // Отслеживаем нажатие на кнопки действий
    document.querySelectorAll('.action-button').forEach(function (button) {
        button.addEventListener('click', function () {
            // Получаем значение атрибута "value" кнопки
            var action = button.getAttribute('value');

            // Изменяем текст модального окна в зависимости от действия
            var modalText = 'Вы уверены, что хотите выполнить это действие?';
            var cost = 0; // Здесь будет храниться стоимость действия

            if (action === 'delete') {
                modalText = 'Вы уверены, что хотите удалить этот элемент?';
            } else if (action === 'deactivate') {
                modalText = 'Вы уверены, что хотите деактивировать этот элемент?';
            } else if (action.startsWith('up_to_recommendation')) {
                var days = parseInt(action.split(' ')[1]);
                cost = -10 * days; // Считаем стоимость в зависимости от количества дней
                modalText = 'Вы уверены, что хотите переместить этот элемент в рекомендации на ' + days + ' день(дней)? С Вашего счета будет списано ' + cost + ' баллов.';
            } else if (action === 'up_to_top') {
                cost = -10;
                modalText = 'Вы уверены, что хотите переместить этот элемент наверх? С Вашего счета будет списано ' + cost + ' баллов.';
            }

            // Устанавливаем новый текст модального окна
            document.querySelector('.cd-popup p').textContent = modalText;
        });
    });
</script>

</body>
</html>
