{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/user/authentication.css' %}">
</head>
<body>

{% include 'messages.html' %}

{#<style>#}
{#    .error-message {#}
{#        font-size: 14px;#}
{#        color: red;#}
{#    }#}
{#</style>#}
<section class="authentication register">
    {#    <div class="container">#}
    <div class="main-header__logo">
        <a href="../..">
            <img src="{% static 'images/TECNOPROM-LOGO.png' %}" alt="logo">
        </a>
    </div>
    <div class="form register">
        <div class="form-content">
            <div class="form-text">
                <header>
                    Зарегистрироваться
                </header>
            </div>

            <form id="registrationForm" method="post" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="field">
                    <label type="text" for="username">Имя пользователя</label>
                    {{ register_form.username }}
                </div>

                <div class="field">


                    <label type="email">Электронная почта</label>
                    {{ register_form.email }}
                </div>

                <div class="field">

                    <label for="text">Номер телефона</label>
                    {{ register_form.telephone }}
                </div>

                <div class="field">

                    <label for="password">Пароль

                    </label>
                    {{ register_form.password1 }}
                </div>

                <div class="field button-field">
                    <button>Зарегистрироваться</button>
                </div>
            </form>

        </div>
    </div>
    <div class="form-errors">
        {#                <div class="error-field">#}
        {#                    <div class="error-message">test text for errors test text for errors test text for errors</div>#}
        {#                </div>#}
        {#                <div class="error-field">#}
        {#                    <div class="error-message">test text for errors</div>#}
        {#                </div>#}
        {#                <div class="error-field">#}
        {#                    <div class="error-message">test text for errors</div>#}
        {#                </div>#}
        {#                <div class="error-field">#}
        {#                    <div class="error-message">test text for errors</div>#}
        {#                </div>#}
        <div class="error-field">{% for error in register_form.username.errors %}
            <div class="error-message">{{ error }}</div>
        {% endfor %}</div>
        <div class="error-field">{% for error in register_form.email.errors %}
            <div class="error-message">test text for errors{{ error }}</div>
        {% endfor %}</div>
        <div class="error-field">{% for error in register_form.telegram.errors %}
            <div class="error-message">test text for errors{{ error }}</div>
        {% endfor %}</div>
        <div class="error-field">{% for error in register_form.password1.errors %}
            <div class="error-message">test text for errors{{ error }}</div>
        {% endfor %}</div>
    </div>
    {#        </div>#}
</section>

<!-- Display error messages here -->
</body>
</html>
