{% extends 'base.html' %}
{% load static %}

{% block main %}
    <style>
        body {
            background-color: #f4f9fb;
        }

        .category__section {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 250px;
        }

        .category__section1 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
        }

        .category__section2 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
        }

        .section__category {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-left: 100px;
        }

        .item__section {
            width: 200px;
            height: 280px;
            background: white;
            padding: 10px;
            border-radius: 10px;
        }

        .section__item {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
        }

        .categoriy__text-info {
        {#font-family: Golos, sans-serif;#}
        }

        .item__section-info {
            font-weight: 600;
        }

        .nav__section {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 30px;
            align-content: center;

        }

        .nav__section-btn {
            background: rgb(255 0 0);
            color: white;
            padding: 10px;
            border-radius: 10px;
            width: 130px;
        }

        {#----------paginator#}
        .pagination-container {
            display: flex;
            list-style: none;
            justify-content: center;
            padding: 10px 0 0 0;
        }

        .pagination-number {
            text-decoration: none;
        }

    </style>
    <style>
        .group6-container {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }

        .group6-group6 {
            width: 200px;
            height: 350px;
            display: flex;
            position: relative;
            flex-shrink: 1;
        }

        .group6-group5buttoninput {
            width: 200px;
            height: 350px;
            display: flex;
            position: absolute;
            align-items: flex-start;
            flex-shrink: 1;
        }

        .group6-group3 {
            width: 200px;
            height: 350px;
            display: flex;
            position: absolute;
            align-items: flex-start;
            flex-shrink: 1;
            border-radius: 14px;
            background-color: white;

        }

        .group6-rectangle6596 {
            width: 202px;
            height: 116px;
            position: absolute;
            border-radius: 15px;
            padding-right: 2px;
        }

        .group6-button-more {
            top: 300.877197265625px;
            left: 31.521728515625px;
            width: 136.95652770996094px;
            height: 31.174089431762695px;
            display: flex;
            position: absolute;
            align-items: flex-start;
            flex-shrink: 1;
            border-radius: 8px;
            background-color: rgba(37, 50, 176, 1);
        }

        .group6-text {
            display: flex;
            top: 5px;
            color: rgba(255, 255, 255, 1);
            width: 136px;
            height: auto;
            position: absolute;
            font-size: 15px;
            text-align: center;
            font-weight: 400;
            line-height: normal;
            font-stretch: normal;
            text-decoration: none;
            justify-content: center;
        }

        .group6-info {
            top: 127.0579833984375px;
            left: 17.391357421875px;
            width: 152.71739196777344px;
            height: 168.6234893798828px;
            display: flex;
            position: absolute;
            align-items: flex-start;
            flex-shrink: 1;
        }

        .group6-text02 {
            color: black;
            width: 160px;
            height: auto;
            position: absolute;
            font-size: 15px;
        {#font-style: Bold;#} text-align: left;
            font-family: Arial, serif;
            font-weight: 700;
            line-height: normal;
            font-stretch: normal;
            text-decoration: none;

            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .group6-text04 {
            top: 37.78680419921875px;
            color: rgb(0, 0, 0);
            width: 153px;
            height: auto;
            position: absolute;
            font-size: 10px;
            font-style: Regular;
            text-align: left;
            font-family: Arial;
            font-weight: 400;
            line-height: normal;
            font-stretch: normal;
            text-decoration: none;

            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .group6-text08 {
            top: 97.7733154296875px;
            color: rgba(0, 0, 0, 1);
            width: 153px;
            height: auto;
            position: absolute;
            font-size: 10px;
            font-style: Regular;
            text-align: left;
            font-family: Arial;
            font-weight: 400;
            line-height: normal;
            font-stretch: normal;
            text-decoration: none;
        }

        .group6-text10 {
            top: 137.9217529296875px;
            color: rgba(0, 0, 0, 1);
            width: 153px;
            height: auto;
            position: absolute;
            font-size: 10px;
            font-style: Regular;
            text-align: left;
            font-family: Arial;
            font-weight: 400;
            line-height: normal;
            font-stretch: normal;
            text-decoration: none;
        }

        @media (max-width: 991px) {
            .group6-group6 {
                animation: inherit;
            }
        }
    </style>

    <div class="nav__section">
        {#            <h1 class="nav__section-text">Купить</h1>#}
        {#            <a href="{% url 'add_film' %}" class="btn"#}
        {#               style="background: rgba(13,110,253,0.8); color: white;">Создать обевление</a>#}
    </div>
    <div class="section__category">
        <div class="category__section">
            <form id="filmForm" data-subcategories-url='{% url 'ajax_load_sub_categories' %}'
                  data-cities-url='{% url 'ajax_load_cities' %}' action="">

                {{ form.as_p }}

                <div class="otp btn">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>

                <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                <script>
                    $("#id_category").change(function () {
                        const url = $("#filmForm").attr("data-subcategories-url");  // get the url of the `load_cities` view
                        const categoryId = $(this).val();  // get the selected country ID from the HTML input

                        $.ajax({                       // initialize an AJAX request
                            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                            data: {
                                'category_id': categoryId       // add the country id to the GET parameters
                            },
                            success: function (data) {   // `data` is the return of the `load_cities` view function
                                $("#id_sub_category").html(data);  // replace the contents of the city input with the data that came from the server

                                /*

                                let html_data = '<option value="">---------</option>';
                                data.forEach(function (sub_category) {
                                    html_data += `<option value="${sub_category.id}">${sub_category.name}</option>`
                                });
                                console.log(html_data);
                                $("#id_sub_category").html(html_data);

                                */
                            }
                        });

                    });
                </script>
                <script>
                    $("#id_country").change(function () {
                        const url = $("#filmForm").attr("data-cities-url");  // get the url of the `load_cities` view
                        const countryId = $(this).val();  // get the selected country ID from the HTML input
                        $.ajax({                       // initialize an AJAX request
                            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                            data: {
                                'country_id': countryId       // add the country id to the GET parameters
                            },
                            success: function (data) {   // `data` is the return of the `load_cities` view function
                                $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
                                /*

                                let html_data = '<option value="">---------</option>';
                                data.forEach(function (city) {
                                    html_data += `<option value="${city.id}">${city.name}</option>`
                                });
                                console.log(html_data);
                                $("#id_city").html(html_data);
                                */
                            }
                        });

                    });
                </script>

            </form>
        </div>
        <div class="section__item">
            {% for object in object_list %}
                <div class="group6-container">
                    <div class="group6-group6">
                        <div class="group6-group5buttoninput">
                            <div class="group6-group3">
                                <img src="{{ object.image.url }}" class="group6-rectangle6596"/>
                            </div>
                            <div class="group6-button-more">
                                <a href="{% url 'film_detail' object.pk %}"
                                   class="group6-text"><span>Подробнее</span></a>
                            </div>
                            <div class="group6-info">
                                <a href="{% url 'film_detail' object.pk %}"
                                   class="group6-text02"><span>{{ object.title }}</span></a>
                                <span class="group6-text04">
            <span>{{ object.description }}</span>
          </span>
                                <span class="group6-text08"><span>Category: {{ object.category }}</span></span>
                                <span class="group6-text10">
            <span>Sub Category: {{ object.sub_category }}</span>
          </span>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
    <div class="pagination-container">
    <span class="step-links">
        {% if page_obj.has_previous %}

            <a class="pagination-number" href="?page=1"><svg viewBox="0 0 256 512" width="15" title="angle-left">
  <path d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path>
</svg> first</a>
            <a class="pagination-number" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a class="pagination-number" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="pagination-number" href="?page={{ page_obj.paginator.num_pages }}">last</a>
            <a class="pagination-number" href="?page={{ page_obj.next_page_number }}">            <svg
                    viewBox="0 0 256 512" width="15" title="angle-right">
  <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
</svg>
</a>

        {% endif %}
    </span>
    </div>


{% endblock %}