<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../static/css/product_list.css">
</head>
<body>

<div class="nav__section">
    <h1 class="nav__section-text">Купить</h1>
    <a href="{% url 'add_film' %}" class="btn"
       style="background: rgba(13,110,253,0.8); color: white;">Создать обевление</a>
</div>
<div class="section__category">
    <div class="section__item">
        <div class="group6-container">
            <div class="group6-group6">
                <div class="group6-group5buttoninput">
                    <div class="group6-group3">
                        <img src="../../../static/img/telegram.png" class="group6-rectangle6596"/>
                    </div>
                    <div class="group6-button-more">
                        <a href="#"
                           class="group6-text"><span>Подробнее</span></a>
                    </div>
                    <div class="group6-info">
                        <a href="#"
                           class="group6-text02"><span>title</span></a>
                        <span class="group6-text04">description</span>
                        <span class="group6-text08"><span>Category: category</span></span>
                        <span class="group6-text10">
            <span>Sub Category: sub category</span>
          </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


</body>
</html>