{% extends 'base.html' %}
{% load static %}

{% block main %}

    <link rel="stylesheet" href="{% static 'css/vertify_code.css' %}">

    <form method="post">
        {% csrf_token %}
        <div class="email__card">
            <div class="card">
                <div class="card__text-container">
                    <h1 class="card__text">Введите код верификации</h1>
                </div>
                <div class="card__text-input-btn">
                    <input id="verification_code" name="verification_code" type="text" class="text"
                           placeholder="Write here code" maxlength="4">
                    <input class="card__btn" type="submit" value="Подтвердить">
                </div>
            </div>
        </div>
    </form>

{% endblock %}