{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Tecnoprom</title>
    <link rel="icon" href="{% static 'images/categories/yangi-uskunalar-24px.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/product/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/product/style.css' %}">
    <link rel="stylesheet" href="{% static 'js/style.js' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>

{% include 'nav_bar.html' %}

{% include 'messages.html' %}

<!-- Topmost section -->
<div class="main-banner">
    <div class="container">
        <section id="price__form-section" class="price__form-section">
            <div class="price__form-text">
                <span>{% translate 'Всё для производства' %}</span>
                <br>
                <span>{% translate 'найти и сделать ставку в одном месте!' %}</span>
            </div>
            <div class="price__form-buttons">
                <ul class="price__form-button__items">

                    <li class="price__form-button__item btn_active" data-image="vtorichniy-siryo.svg"
                        data-category-id="10">
                        {% translate "Вторичный сырьё" %}
                    </li>
                    <li class="price__form-button__item" data-image="banner-yangi-uskuna.svg"
                        data-category-id="1">
                        {% translate "Новое оборудование" %}
                    </li>
                    <li class="price__form-button__item" data-image="banner-ishlatilgan-uskuna.svg"
                        data-category-id="2">
                        {% translate "Б/у оборудование" %}
                    </li>
                    <li class="price__form-button__item" data-image="banner-xom-ashyo.svg"
                        data-category-id="3">
                        {% translate "Сырьё" %}
                    </li>
                    <li class="price__form-button__item" data-image="banner-xizmat-korsatish.svg"
                        data-category-id="8">
                        {% translate "Услуга" %}
                    </li>
                    <li class="price__form-button__item" data-image="banner-texnolog.svg"
                        data-category-id="9">
                        {% translate "Технолог" %}
                    </li>

                </ul>
            </div>
        </section>
    </div>
</div>
<!-- /Topmost section -->

<!-- Form and image -->
<div id="price-form" class="container">
    <section class="price-form">
        <div class="price__image-form">
            <div class="price__image-form-titles">
                <h2 class="style-title-home">{% translate "Найдите необходимое вам" %}<span class="border-color"
                                                                                            style="background-color: #D4E9FF; border-radius: 20px; padding: 6px 10px;">{% translate "сырье" %} </span>
                    {% translate "или предложите его на переработку!" %}</h2>
                <h2 class="style-title-home">{% translate "Мгновенно" %}<span class="border-color"
                                                                              style="background-color: #D4E9FF; border-radius: 20px; padding: 6px 10px;">{% translate "найдите" %} </span>
                    {% translate "нужного вам поставщика оборудования" %}</h2>
                <h2 class="style-title-home">{% translate "Здесь вы найдете" %}<span class="border-color"
                                                                                     style="background-color: #D4E9FF; border-radius: 20px; padding: 6px 10px;">{% translate "б/у технику" %} </span>
                    {% translate "ожидающую нового владельца." %}</h2>
                <h2 class="style-title-home">{% translate "Быстро найти необходимое" %}<span class="border-color"
                                                                                             style="background-color: #D4E9FF; border-radius: 20px; padding: 6px 10px;">{% translate "сырье" %} </span>
                    {% translate "для вашего производства" %}</h2>
                <h2 class="style-title-home">{% translate "Найдите проверенных" %}<span class="border-color"
                                                                                        style="background-color: #D4E9FF; border-radius: 20px; padding: 6px 10px;">{% translate "производителей" %} </span>
                    {% translate "для вашего продукта" %}</h2>
                <h2 class="style-title-home">{% translate "Здесь вы найдете " %}<span class="border-color"
                                                                                      style="background-color: #D4E9FF; border-radius: 20px; padding: 6px 10px;">{% translate "технологов, инженеров," %} </span>
                    {% translate "операторов и мастеров." %}</h2>
            </div>
            <img id="bannerImage" src="{% static 'images/banners/vtorichniy-siryo.svg' %}" alt="">
        </div>

        <div class="price__form-form">
            <form class="custom-form" method="post">
                {% csrf_token %}
                <div class="form-group" style="position: relative">
                    <label for="name" class="form-label">{% translate "Заголовок" %}:{% for error in form.title.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}</label>
                    {{ form.title }}
                    <div id="char-count title" class="char-count__title">0 / 100</div>
                </div>
                <div class="form-group">
                    <label for="description" class="form-label">{% translate "Описание" %}:
                        {% for error in form.description.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}</label>
                    {{ form.description }}
                    <div id="char-count description" class="char-count__description">0 / 800</div>
                </div>
                <div class="form-group">
                    <label for="category" class="form-label">{% translate "Категория" %}:
                        {% for error in form.category.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}</label>
                    {{ form.category }}
                </div>
                <div class="form-group" id="subcategory-group">
                    <label for="subcategory" class="form-label">{% translate "Субкатегория" %}:
                        {% for error in form.sub_category.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}</label>
                    {{ form.sub_category }}
                </div>
                <div class="form-group" id="tags-group" style="display: block">
                    <label for="tags" class="form-label">{% translate "Теги" %}:{% for error in form.tags.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}</label>
                    <div id="tags-checkboxes">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="form-label">{% translate "Телефон" %}:
                        {% for error in form.telephone.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}</label>
                    {{ form.telephone }}
                </div>
                <div class="form-group">
                    <label for="telegram" class="form-label">{% translate "Телеграм" %}:
                        {% for error in form.telegram.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}</label>
                    {{ form.telegram }}
                </div>
                <div class="form-group" id="country-group">
                    <label for="country" class="form-label">
                        {% translate "Страна" %}{% for error in form.country.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}</label>
                    {{ form.country }}
                </div>
                <div class="form-group" id="city-group">
                    <label for="city" class="form-label">{% translate "Город" %}{% for error in form.city.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}</label>
                    {{ form.city }}
                </div>
                <div class="form-group__button">
                    <button class="form-button">{% translate "Отправить" %}</button>

                </div>
            </form>
        </div>
    </section>
</div>
<!-- /Form and image section -->

{#<div class="horizontal_line"></div>#}
<hr>
{% block content %}

{% endblock content %}


{% include 'footer.html' %}


<script>
    $(document).ready(function () {
        $('.checkbox-container input[type="checkbox"]').change(function () {
            if ($(this).is(':checked')) {
                $(this).closest('.checkbox-container').addClass('checked');
            } else {
                $(this).closest('.checkbox-container').removeClass('checked');
            }
        });
    });

</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        const categorySelect = $('#id_category');
        const subcategoryGroup = $('#subcategory-group');
        const subcategorySelect = $('#id_sub_category');
        const tagsGroup = $('#tags-group'); // Добавляем элемент для тегов
        const tagsSelect = $('#id_tags'); // Замените на соответствующий id поля тегов

        // Функция для загрузки субкатегорий
        function loadSubcategories() {
            const selectedCategoryId = categorySelect.val();

            // Очищаем предыдущие опции и добавляем "Выберите субкатегорию"
            subcategorySelect.empty().append($('<option></option>').attr('value', '').text('Выберите субкатегорию'));
            tagsGroup.hide(); // Скрываем поле выбора тегов

            if (selectedCategoryId) {
                subcategoryGroup.show(); // Показываем поле выбора субкатегории
                // Запрос на сервер для получения субкатегорий по выбранной категории
                $.ajax({
                    url: `/related_to_it/?category_id=${selectedCategoryId}`,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data.subcategories); // Здесь data определена и содержит данные
                        subcategorySelect.empty();
                        subcategorySelect.append($('<option></option>').attr('value', '').text('Выберите субкатегорию')); // Добавляем опцию по умолчанию
                        $.each(data.subcategories, function (key, value) {
                            subcategorySelect.append($('<option></option>').attr('value', key).text(value));
                        });

                        // Теперь устанавливаем значение для subcategorySelect
                        const buttonText = $('.price__form-button__item.btn_active a').text();
                        if (buttonText === 'Vtorichniy siryo') {
                            subcategorySelect.val('15');
                        }
                    }
                });
            } else {
                subcategoryGroup.hide(); // Скрываем поле выбора субкатегории, если категория не выбрана
            }
        }

        categorySelect.change(loadSubcategories);

        loadSubcategories();

        // Функция для загрузки тегов
        function loadTags() {
            const selectedSubcategoryId = subcategorySelect.val();

            // Очищаем предыдущие чекбоксы
            $('#tags-checkboxes').empty();

            if (selectedSubcategoryId) {
                // Запрос на сервер для получения тегов по выбранной субкатегории
                $.ajax({
                    url: `/related_to_it/?subcategory_id=${selectedSubcategoryId}`,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data.tags); // Здесь data определена и содержит данные
                        $.each(data.tags, function (key, value) {
                            // Создаем div контейнер для каждого чекбокса и его лейбла
                            const checkboxContainer = $('<div>')
                                .addClass('cat')
                                .addClass('action');

                            // Создаем лейбл для каждого тега
                            const label = $('<label>');

                            // Создаем чекбокс для каждого тега и добавляем его внутрь лейбла
                            const checkbox = $('<input type="checkbox">')
                                .attr('id', `tag-${key}`)
                                .attr('name', 'tags')
                                .attr('value', key)
                                .appendTo(label);

                            // Добавляем текст тега внутрь лейбла
                            label.append($('<span>').text(value));

                            // Добавляем лейбл в контейнер
                            checkboxContainer.append(label);

                            // Добавляем контейнер в блок с чекбоксами
                            $('#tags-checkboxes').append(checkboxContainer);
                        });
                        tagsGroup.show(); // Показываем блок с чекбоксами для тегов
                    }
                });
            } else {
                tagsGroup.hide(); // Скрываем блок с чекбоксами для тегов, если субкатегория не выбрана
            }
        }

        // Отслеживаем изменения в поле выбора субкатегории
        subcategorySelect.change(loadTags);

        // Вызываем функцию загрузки тегов при инициализации страницы
        loadTags();

    });

</script>

<script>
    const categorySelect = document.getElementById('id_category');
    const subcategorySelect = document.getElementById('id_sub_category');
    const buttons = document.querySelectorAll('.price__form-button__item');
    const bannerImage = document.getElementById('bannerImage');

    buttons.forEach(button => {
        button.addEventListener('click', (event) => {
            event.preventDefault();
            buttons.forEach(btn => btn.classList.remove('btn_active'));
            button.classList.add('btn_active');

            const categoryID = button.getAttribute('data-category-id');
            const categoryOption = Array.from(categorySelect.options).find(option => option.value === categoryID);

            if (categoryOption) {
                categorySelect.value = categoryOption.value;
            }

            // Вручную вызываем обработчики событий change
            categorySelect.dispatchEvent(new Event('change'));

            const imageName = button.getAttribute('data-image');
            bannerImage.src = `../static/images/banners/${imageName}`;

        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const buttons = document.querySelectorAll('.price__form-button__item');
        const titles = document.querySelectorAll('.style-title-home');

        // Hide all titles except the first one
        for (let i = 1; i < titles.length; i++) {
            titles[i].style.display = 'none';
        }

        buttons.forEach((button, index) => {
            button.addEventListener('click', (event) => {
                event.preventDefault();

                // Hide all titles
                titles.forEach(title => {
                    title.style.display = 'none';
                });

                // Show the corresponding title
                titles[index].style.display = 'flex';
            });
        });
    });
</script>


<script>
    $(document).ready(function () {
        // Функция, которая будет вызываться при изменении поля "Страна"
        $("#id_country").change(function () {
            // Получаем значение выбранной страны
            var selectedCountry = $(this).val();

            // Если выбран Узбекистан, показываем поле "Город", иначе скрываем его
            if (selectedCountry === "1") {
                $("#city-group").show();
            } else {
                $("#city-group").hide();
            }
        });

        // Инициализация состояния поля "Город" при загрузке страницы
        if ($("#country").val() === "1") {
            $("#city-group").show();
        } else {
            $("#city-group").hide();
        }
    });
</script>

<script>
    // Обработчик события изменения поля загрузки файла
    document.getElementById('id_image').addEventListener('change', function (e) {
        var input = e.target;
        var imagePreview = document.getElementById('image-preview');

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block'; // Отобразить превью изображения
            };

            reader.readAsDataURL(input.files[0]);
        }
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const descriptionField = document.getElementById('id_description');
        const charCount = document.getElementById('char-count description');

        descriptionField.addEventListener('input', function () {
            const currentLength = descriptionField.value.length;
            charCount.textContent = currentLength + ' / 800';

            // Если текст приближается к лимиту (например, 750 символов),
            // можно изменить цвет на красный
            if (currentLength >= 750) {
                charCount.style.color = 'red';
            } else {
                charCount.style.color = ''; // Сбросить цвет, если не приближается к лимиту
            }
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const titleField = document.getElementById('{{ form.title.id_for_label }}');
        const charCount = document.getElementById('char-count title');

        titleField.addEventListener('input', function () {
            const currentLength = titleField.value.length;
            charCount.textContent = currentLength + ' / 100';

            // Если текст приближается к лимиту (например, 90 символов),
            // можно изменить цвет на красный
            if (currentLength >= 90) {
                charCount.style.color = 'red';
            } else {
                charCount.style.color = ''; // Сбросить цвет, если не приближается к лимиту
            }
        });
    });
</script>


</body>
</html>