{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial=scale=1">
    <title>Tecnoprom</title>
    {#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">#}
    <link rel="icon" href="{% static 'images/categories/yangi-uskunalar-24px.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/js/style.js' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>

{% include 'nav_bar.html' %}

{#{% include 'messages.html' %}#}

<!-- Topmost section -->
<div class="main-banner">
    <div class="container">
        <section id="price__form-section" class="price__form-section">
            <div class="price__form-text">
                Ishlab chiqarish uchun hammasini <br> bir joyda toping va taklif eting!
            </div>
            <div class="price__form-buttons">
                <ul class="price__form-button__items">
                    <li class="price__form-button__item btn_active" data-image="banner-yangi-uskuna.svg"
                        data-title="Soluções que || o dia a dia de qualquer negócio" data-span-text="facilitam">
                        <a href="#">yangi uskunalar</a>
                    </li>
                    <li class="price__form-button__item" data-image="banner-ishlatilgan-uskuna.svg"
                        data-title="Diferenciais que || sua operação" data-span-text="otimizam">
                        <a href="#">ishlatilgan uskunalar</a>
                    </li>
                    <li class="price__form-button__item" data-image="banner-xom-ashyo.svg"
                        data-title="Histórias de quem || a operação com o Tiny" data-span-text="transformou">
                        <a href="#">xom ashyo</a>
                    </li>
                    <li class="price__form-button__item" data-image="banner-xizmat-korsatish.svg"
                        data-title="Aproveite || que se conectam com seu negócio" data-span-text="conteúdos">
                        <a href="#">xizmat ko'rsatish</a>
                    </li>
                    <li class="price__form-button__item" data-image="banner-texnolog.svg"
                        data-title="Emissão de notas || como você nunca viu" data-span-text="fiscais">
                        <a href="#">texnolog</a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>
<!-- /Topmost section -->

<!-- Form and image -->
<div id="price-form" class="container">
    <section class="price-form">
        <div class="price__image-form">
            <h2 class="style-title-home">Soluções que <span class="border-color"
                                                            style="background-color: #D4E9FF; border-radius: 20px; padding: 6px 10px;">facilitam </span>
                o dia a dia de qualquer negócio</h2>

            <img id="bannerImage" src="{% static 'images/banners/banner-yangi-uskuna.svg' %}" alt="">
        </div>

        <div class="price__form-form">
            <form class="custom-form">
                <div class="form-group">
                    <label for="name" class="form-label">Название:</label>
                    <input type="text" id="name" name="name" required placeholder="Введите название" class="form-input">
                </div>
                <div class="form-group">
                    <label for="description" class="form-label">Описание:</label>
                    <textarea id="description" name="description" rows="4" required placeholder="Введите описание"
                              class="form-textarea"></textarea>
                </div>
                <div class="form-group">
                    <label for="category" class="form-label">Категория:</label>
                    <select id="category" name="category" required class="form-select">
                        <option value="" disabled selected>Выберите категорию</option>
                        <option value="yangi uskunalar">Yangi uskunalar</option>
                        <option value="ishlatilgan uskunalar">Ishlatilgan uskunalar</option>
                        <option value="xom ashyo">Xom ashyo</option>
                        <option value="xizmat ko'rsatish">Xizmat ko'rsatish</option>
                        <option value="texnolog">Texnolog</option>
                        <!-- Другие варианты категорий -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="subcategory" class="form-label">Субкатегория:</label>
                    <select id="subcategory" name="subcategory" required class="form-select">
                        <option value="" disabled selected>Выберите субкатегорию</option>
                        <option value="Субкатегория 1">Субкатегория 1</option>
                        <option value="Субкатегория 2">Субкатегория 2</option>
                        <!-- Другие варианты субкатегорий -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="phone" class="form-label">Телефон:</label>
                    <input type="text" id="phone" name="phone" required placeholder="+998 66 666 66 66"
                           class="form-input">
                </div>
                <button type="submit" class="form-button">Отправить</button>
            </form>


        </div>
    </section>
</div>
<!-- /Form and image section -->

<div class="horizontal_line"></div>

{% block content %}

{% endblock content %}


{% include 'footer.html' %}


<script>
    const categorySelect = document.getElementById('category');
    const buttons = document.querySelectorAll('.price__form-button__item');
    const bannerImage = document.getElementById('bannerImage');
    const titleH2 = document.querySelector('.style-title-home');
    const span = document.querySelector('.border-color');

    buttons.forEach(button => {
        button.addEventListener('click', (event) => {
            event.preventDefault();
            buttons.forEach(btn => btn.classList.remove('btn_active'));
            button.classList.add('btn_active');
            const imageName = button.getAttribute('data-image');
            bannerImage.src = `../static/images/banners/${imageName}`;
            const titleParts = button.getAttribute('data-title').split('||');
            const spanText = button.getAttribute('data-span-text');
            titleH2.innerHTML = `${titleParts[0]} <span class="border-color">${spanText}</span> ${titleParts[1]}`;
            const categoryText = button.querySelector('a').innerText;
            const categoryOption = categorySelect.querySelector(`[value="${categoryText}"]`);
            if (categoryOption) {
                categoryOption.selected = true;
            }
        });
    });
</script>


</body>
</html>