{% load static %}
<!-- Footer section -->
<footer class="footer">
    <div class="container">
        <section class="footer-widgets">
            <div class="column-1">
                <img src="{% static 'images/TECNOPROM-LOGO.png' %}" alt="Lego">
                <p>Av. Cândido Hartmann, 590 <br>
                    Mercês, Curitiba – PR <br>
                    80730-440.
                </p>

                <p>
                    consulte nossos termos de uso, política <br>de privacidade, política de cookies,<br> código de
                    conduta e ética , canal de <br> denúncias e encarregado pelo <br>tratamento de dados pessoais.
                </p>

            </div>

            <div class="column-2">
                <h5>Footer 2</h5>
                <ul class="footer-navigation-items-2">
                    <li class="footer-navigation-item"><a href="#">1</a></li>
                    <li class="footer-navigation-item"><a href="#">2</a></li>
                    <li class="footer-navigation-item"><a href="#">3</a></li>
                </ul>
            </div>
            <div class="column-3">
                <h5>Footer 3</h5>
                <ul class="footer-navigation-items-2">
                    <li class="footer-navigation-item"><a href="#">1</a></li>
                    <li class="footer-navigation-item"><a href="#">2</a></li>
                    <li class="footer-navigation-item"><a href="#">3</a></li>
                </ul>
            </div>
            <div class="column-4">
                <h5>Footer 4</h5>
                <ul class="footer-navigation-items-4">
                    <li class="footer-navigation-item"><a href="#">1</a></li>
                    <li class="footer-navigation-item"><a href="#">2</a></li>
                    <li class="footer-navigation-item"><a href="#">3</a></li>
                </ul>
            </div>
        </section>
    </div>
</footer>
<!-- /Footer section -->