{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <link rel="stylesheet" href="{% static 'css/product/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/product/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/product/form.css' %}">
</head>
<body>

{% include 'nav_bar.html' %}
{% include 'messages.html' %}

<div class="container">
    <section class="price-form">
        <div class="price__image-form2">
            <img style="" id="bannerImage" src="{% static 'images/banners/banner-yangi-uskuna.svg' %}"
                 alt="">
        </div>
        <div class="price__form-form">
            <div class="form-group">
                <label class="form-label">{% translate "Выберите действие:" %}</label>
                <div class="buttons-for-choice-type">
                    <div class="form-check form-check-active">
                        <button type="button" id="buy-button"
                                class="btn btn-primary active">{% translate "Купить" %}</button>
                    </div>
                    <div class="form-check">
                        <button type="button" id="sell-button" class="btn btn-primary"
                                data-authenticated="{{ request.user.is_authenticated }}">{% translate "Продать" %}
                        </button>
                    </div>
                </div>
            </div>

            <form class="custom-form" method="post" action="{% url 'add_film' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="form-name" id="form-name" value="buy">
                <div class="form-group">
                    <label for="name" class="form-label">{% translate "Название" %}:{% for error in form.title.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}</label>
                    {{ form.title }}
                    <div id="char-count title" class="char-count__title">0 / 100
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="form-label">{% translate "Описание" %}:
                        {% for error in form.description.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}</label>
                    {{ form.description }}
                    <div id="char-count description" class="char-count__description">0 / 700</div>
                </div>

                <div class="form-group">
                    <label for="category" class="form-label">{% translate "Категория" %}:
                        {% for error in form.category.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}</label>
                    {{ form.category }}
                </div>
                <div class="form-group" id="subcategory-group">
                    <label for="subcategory" class="form-label">{% translate "Субкатегория" %}:
                        {% for error in form.sub_category.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}</label>
                    {{ form.sub_category }}
                </div>
                <div class="form-group" id="tags-group" style="display: block">
                    <label for="tags" class="form-label">{% translate "Теги" %}:{% for error in form.tags.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}</label>
                    <div id="tags-checkboxes">
                        {#                        {{ form.tags }}#}
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="form-label">{% translate "Телефон номер" %}:
                        {% for error in form.telephone.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}</label>
                    {{ form.telephone }}
                </div>
                <div class="form-group">
                    <label for="telegram" class="form-label">{% translate "Телеграмм" %}:
                        {% for error in form.telegram.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}</label>
                    {{ form.telegram }}
                </div>

                <div class="form-group" id="country-group">
                    <label for="id_country" class="form-label">{% translate "Страна" %}:
                        {% for error in form.country.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}</label>
                    {{ form.country }}
                </div>

                <div class="form-group" id="city-group">
                    <label for="city" class="form-label">{% translate "Город" %}: {% for error in form.city.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}</label>
                    {{ form.city }}
                </div>

                <div class="form-group" id="image-group">
                    <div class="image-form">
                        <label class="form-label">{% translate "Фотографии" %}</label>
                        <label class="form-label"
                               style="font-size: 16px; padding-left: 15px">{% translate " (Eng optimal product rasmini tanlang)" %}</label>
                        {#                        <p class="form-label"></p>#}
                    </div>
                    {#                    <input type="file" name="image" class="form-input" id="id_image">#}
                    <div class="image-form">
                        {{ form.image }}
                    </div>
                    {#                    <button type="button" id="reset-image" class="reset-image">Сбросить фото</button>#}
                </div>
                <div class="form-group" id="price-group">
                    <label class="form-label">{% translate "Цена" %}:</label>
                    {{ form.price }}
                </div>
                <div class="form-group" id="is_price_negotiable-group">
                    <label class="form-label">{% translate "Договорная" %}:</label>
                    {{ form.is_price_negotiable }}
                </div>
                <button type="submit" class="form-button">{% translate "Отправить" %}</button>
            </form>

        </div>
    </section>
</div>

{% include 'footer.html' %}

</body>

<script>
    $(document).ready(function () {
        $('.checkbox-container input[type="checkbox"]').change(function () {
            if ($(this).is(':checked')) {
                $(this).closest('.checkbox-container').addClass('checked');
            } else {
                $(this).closest('.checkbox-container').removeClass('checked');
            }
        });
    });

</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        const categorySelect = $('#id_category');
        const subcategoryGroup = $('#subcategory-group');
        const subcategorySelect = $('#id_sub_category');
        const tagsGroup = $('#tags-group');
        const tagsSelect = $('#id_tags');

        function loadSubcategories() {
            const selectedCategoryId = categorySelect.val();

            subcategorySelect.empty().append($('<option></option>').attr('value', '').text('Выберите субкатегорию'));
            tagsGroup.hide();

            if (selectedCategoryId) {
                $.ajax({
                    url: `/related_to_it/?category_id=${selectedCategoryId}`,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data.subcategories);
                        subcategorySelect.empty();
                        subcategorySelect.append($('<option></option>').attr('value', '').text('Выберите субкатегорию'));
                        $.each(data.subcategories, function (key, value) {
                            subcategorySelect.append($('<option></option>').attr('value', key).text(value));
                        });
                        subcategoryGroup.show();
                    }
                });
            } else {
                subcategoryGroup.hide();
            }
        }

        categorySelect.change(loadSubcategories);

        loadSubcategories();

        function loadTags() {
            const selectedSubcategoryId = subcategorySelect.val();

            $('#tags-checkboxes').empty();

            if (selectedSubcategoryId) {
                $.ajax({
                    url: `/related_to_it/?subcategory_id=${selectedSubcategoryId}`,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data.tags);
                        $.each(data.tags, function (key, value) {
                            const checkboxContainer = $('<div>')
                                .addClass('cat')
                                .addClass('action');

                            const label = $('<label>');

                            const checkbox = $('<input type="checkbox">')
                                .attr('id', `tag-${key}`)
                                .attr('name', 'tags')
                                .attr('value', key)
                                .appendTo(label);

                            label.append($('<span>').text(value));

                            checkboxContainer.append(label);

                            $('#tags-checkboxes').append(checkboxContainer);
                        });
                        $('#tags-group').show();
                    }
                });
            } else {
                $('#tags-group').hide();
            }
        }

        subcategorySelect.change(loadTags);
        loadTags();
    });
</script>


<script>
    $(document).ready(function () {
        $("#id_country").change(function () {
            var selectedCountry = $(this).val();

            if (selectedCountry === "1") {
                $("#city-group").show();
            } else {
                $("#city-group").hide();
            }
        });

        if ($("#country").val() === "1") {
            $("#city-group").show();
        } else {
            $("#city-group").hide();
        }
    });
</script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const buyButton = document.getElementById('buy-button');
        const sellButton = document.getElementById('sell-button');
        const formNameInput = document.getElementById('form-name');

        if (!buyButton.classList.contains("active")) {
            buyButton.addEventListener('click', function () {
                buyButton.classList.add("active");
                sellButton.classList.remove("active");
                formNameInput.value = "buy";
            });
        }

        if (!sellButton.classList.contains("active")) {
            sellButton.addEventListener('click', function () {
                const isAuthenticated = sellButton.getAttribute('data-authenticated');
                const userCurrency = {{ request.user.currency|default:0 }};

                if (isAuthenticated === "True" && userCurrency >= 10.0) {
                    sellButton.classList.add("active");
                    buyButton.classList.remove("active");
                    formNameInput.value = "sell";
                } else if (isAuthenticated === "True" && userCurrency < 10.0) {
                    const messageData = "You need at least 10 currency to perform the 'sell' action";
                    alert(messageData);
                    window.location.href = "{% url 'myaccount' %}";
                } else {
                    window.location.href = "{% url 'login' %}";
                }


            });
        }
    });
</script>

<script>
    const imageInput = document.getElementById('id_image');
    const resetButton = document.getElementById('reset-image');

    resetButton.addEventListener('click', function () {
        imageInput.value = '';

        imageInput.style.display = 'none';
        imageInput.offsetHeight;
        imageInput.style.display = 'block';
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const descriptionField = document.getElementById('id_description');
        const charCount = document.getElementById('char-count description');

        descriptionField.addEventListener('input', function () {
            const currentLength = descriptionField.value.length;
            charCount.textContent = currentLength + ' / 700';

            if (currentLength >= 700) {
                charCount.style.color = 'red';
            } else {
                charCount.style.color = '';
            }
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const titleField = document.getElementById('{{ form.title.id_for_label }}');
        const charCount = document.getElementById('char-count title');

        titleField.addEventListener('input', function () {
            const currentLength = titleField.value.length;
            charCount.textContent = currentLength + ' / 100';

            if (currentLength >= 90) {
                charCount.style.color = 'red';
            } else {
                charCount.style.color = '';
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#image-group, #price-group, #is_price_negotiable-group').hide();

        $('#buy-button').click(function () {
            $('#price-group').hide();
            $('#is_price_negotiable-group').hide();
            $('#image-group').hide();
        });

        $('#sell-button').click(function () {
            $('#image-group').show();
            $('#price-group').show();
            $('#is_price_negotiable-group').show();
        });

        $('#id_is_price_negotiable').change(function () {
            togglePriceField(this.checked);
        });

        function togglePriceField(isPriceNegotiable) {
            if (isPriceNegotiable) {
                $('#id_price').prop('disabled', true).val('');
            } else {
                $('#id_price').prop('disabled', false);
            }
        }
    });
</script>

</html>