{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <link rel="stylesheet" href="{% static 'css/product/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/product/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/product/form.css' %}">
</head>
<body>

{% include 'nav_bar.html' %}
{% include 'messages.html' %}

<div class="container">
    <section class="price-form">
        <div class="price__image-form2">
            <img style="" id="bannerImage" src="{% static 'images/banners/banner-yangi-uskuna.svg' %}"
                 alt="">
        </div>
        <div class="price__form-form">
            <div class="form-group">
                <label class="form-label">Выберите действие:</label>
                <div class="buttons-for-choice-type">
                    <div class="form-check form-check-active">
                        <button type="button" id="buy-button" class="btn btn-primary active">Купить</button>
                    </div>
                    <div class="form-check">
                        <button type="button" id="sell-button" class="btn btn-primary"
                                data-authenticated="{{ request.user.is_authenticated }}">Продать
                        </button>
                    </div>
                </div>
            </div>

            <form class="custom-form" method="post" action="{% url 'add_film' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="form-name" id="form-name" value="buy">
                <div class="form-group">
                    <label for="name" class="form-label">Название:{% for error in form.title.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}</label>
                    {{ form.title }}
                    <div id="char-count title" class="char-count__title">0 / 100
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="form-label">Описание:{% for error in form.description.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}</label>
                    {{ form.description }}
                    <div id="char-count description" class="char-count__description">0 / 700</div>
                </div>

                <div class="form-group">
                    <label for="category" class="form-label">Категория:{% for error in form.category.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}</label>
                    {{ form.category }}
                </div>
                <div class="form-group" id="subcategory-group">
                    <label for="subcategory" class="form-label">Субкатегория:{% for error in form.sub_category.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}</label>
                    {{ form.sub_category }}
                </div>
                <div class="form-group" id="tags-group" style="display: block">
                    <label for="tags" class="form-label">Теги:{% for error in form.tags.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}</label>
                    <div id="tags-checkboxes">
                        {#                        {{ form.tags }}#}
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="form-label">Телефон номер:{% for error in form.telephone.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}</label>
                    {{ form.telephone }}
                </div>
                <div class="form-group">
                    <label for="telegram" class="form-label">Телеграмм номер:{% for error in form.telegram.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}</label>
                    {{ form.telegram }}
                </div>

                <div class="form-group" id="country-group">
                    <label for="id_country" class="form-label">Страна: {% for error in form.country.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}</label>
                    {{ form.country }}
                </div>

                <div class="form-group" id="city-group">
                    <label for="city" class="form-label">Город: {% for error in form.city.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}</label>
                    {{ form.city }}
                </div>

                <div class="form-group" id="image-group">
                    <div class="image-form">
                        <label class="form-label">Фотографии</label>
                        <label class="form-label" style="font-size: 16px; padding-left: 15px"> (Eng optimal product
                            rasmini
                            tanlang)</label>
                        {#                        <p class="form-label"></p>#}
                    </div>
                    {#                    <input type="file" name="image" class="form-input" id="id_image">#}
                    <div class="image-form">
                        {{ form.image }}
                    </div>
                    {#                    <button type="button" id="reset-image" class="reset-image">Сбросить фото</button>#}
                </div>
                <div class="form-group" id="price-group">
                    <label class="form-label">Цена:</label>
                    {{ form.price }}
                </div>
                <div class="form-group" id="is_price_negotiable-group">
                    <label class="form-label">Договорная:</label>
                    {{ form.is_price_negotiable }}
                </div>
                <button type="submit" class="form-button">Отправить</button>
            </form>

        </div>
    </section>
</div>
</body>

<script>
    $(document).ready(function () {
        $('.checkbox-container input[type="checkbox"]').change(function () {
            if ($(this).is(':checked')) {
                $(this).closest('.checkbox-container').addClass('checked');
            } else {
                $(this).closest('.checkbox-container').removeClass('checked');
            }
        });
    });

</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        const categorySelect = $('#id_category');
        const subcategoryGroup = $('#subcategory-group');
        const subcategorySelect = $('#id_sub_category');
        const tagsGroup = $('#tags-group'); // Добавляем элемент для тегов
        const tagsSelect = $('#id_tags'); // Замените на соответствующий id поля тегов

        // Функция для загрузки субкатегорий
        function loadSubcategories() {
            const selectedCategoryId = categorySelect.val();

            // Очищаем предыдущие опции и добавляем "Выберите субкатегорию"
            subcategorySelect.empty().append($('<option></option>').attr('value', '').text('Выберите субкатегорию'));
            tagsGroup.hide(); // Скрываем поле выбора тегов

            if (selectedCategoryId) {
                // Запрос на сервер для получения субкатегорий по выбранной категории
                $.ajax({
                    url: `/related_to_it/?category_id=${selectedCategoryId}`,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data.subcategories); // Здесь data определена и содержит данные
                        subcategorySelect.empty();
                        subcategorySelect.append($('<option></option>').attr('value', '').text('Выберите субкатегорию')); // Добавляем опцию поумолчанию
                        $.each(data.subcategories, function (key, value) {
                            subcategorySelect.append($('<option></option>').attr('value', key).text(value));
                        });
                        subcategoryGroup.show(); // Показываем поле выбора субкатегории
                    }
                });
            } else {
                subcategoryGroup.hide(); // Скрываем поле выбора субкатегории, если категория не выбрана
            }
        }

        categorySelect.change(loadSubcategories);

        loadSubcategories();

        // Функция для загрузки тегов
        function loadTags() {
            const selectedSubcategoryId = subcategorySelect.val();

            // Очищаем предыдущие чекбоксы
            $('#tags-checkboxes').empty();

            if (selectedSubcategoryId) {
                // Запрос на сервер для получения тегов по выбранной субкатегории
                $.ajax({
                    url: `/related_to_it/?subcategory_id=${selectedSubcategoryId}`,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data.tags); // Здесь data определена и содержит данные
                        $.each(data.tags, function (key, value) {
                            // Создаем div контейнер для каждого чекбокса и его лейбла
                            const checkboxContainer = $('<div>')
                                .addClass('cat')
                                {#.addClass(`action`)#}
                                .addClass('action');

                            // Создаем лейбл для каждого тега
                            const label = $('<label>');

                            // Создаем чекбокс для каждого тега и добавляем его внутрь лейбла
                            const checkbox = $('<input type="checkbox">')
                                .attr('id', `tag-${key}`)
                                .attr('name', 'tags')
                                .attr('value', key)
                                .appendTo(label);

                            // Добавляем текст тега внутрь лейбла
                            label.append($('<span>').text(value));

                            // Добавляем лейбл в контейнер
                            checkboxContainer.append(label);

                            // Добавляем контейнер в блок с чекбоксами
                            $('#tags-checkboxes').append(checkboxContainer);
                        });
                        $('#tags-group').show(); // Показываем блок с чекбоксами для тегов
                    }
                });
            } else {
                $('#tags-group').hide(); // Скрываем блок с чекбоксами для тегов, если субкатегория не выбрана
            }
        }


// Отслеживаем изменения в поле выбора субкатегории
        subcategorySelect.change(loadTags);

// Вызываем функцию загрузки тегов при инициализации страницы
        loadTags();

    });
</script>


<script>
    $(document).ready(function () {
        // Функция, которая будет вызываться при изменении поля "Страна"
        $("#id_country").change(function () {
            // Получаем значение выбранной страны
            var selectedCountry = $(this).val();

            // Если выбран Узбекистан, показываем поле "Город", иначе скрываем его
            if (selectedCountry === "1") {
                $("#city-group").show();
            } else {
                $("#city-group").hide();
            }
        });

        // Инициализация состояния поля "Город" при загрузке страницы
        if ($("#country").val() === "1") {
            $("#city-group").show();
        } else {
            $("#city-group").hide();
        }
    });
</script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const buyButton = document.getElementById('buy-button');
        const sellButton = document.getElementById('sell-button');
        const formNameInput = document.getElementById('form-name');


        buyButton.addEventListener('click', function () {
            if (!buyButton.classList.contains("active")) {
                buyButton.classList.add("active");
                sellButton.classList.remove("active");
                formNameInput.value = "buy";
            }
        });
        sellButton.addEventListener('click', function () {
            if (!sellButton.classList.contains("active")) {

                const isAuthenticated = sellButton.getAttribute('data-authenticated');
                const userBall = {{ request.user.ball|default:0 }};

                if (isAuthenticated === "True" && userBall >= 10) {
                    sellButton.classList.add("active");
                    buyButton.classList.remove("active");
                    formNameInput.value = "sell";
                } else if (isAuthenticated === "True" && userBall < 10) {
                    const messageData = "You need at least 10 balls to perform the 'sell' action";
                    alert(messageData)
                    window.location.href = "{% url 'myaccount' %}";
                } else {

                    window.location.href = "{% url 'login' %}";
                }
            }
        });
    });
</script>

<script>
    // Получаем ссылку на поле ввода файла и кнопку "Сбросить"
    const imageInput = document.getElementById('id_image');
    const resetButton = document.getElementById('reset-image');

    // Устанавливаем обработчик события для кнопки "Сбросить"
    resetButton.addEventListener('click', function () {
        // Очищаем значение поля ввода файла
        imageInput.value = '';

        // В некоторых браузерах поле ввода файла нельзя очистить программно
        // по соображениям безопасности. В этом случае вы можете скрыть и затем снова показать
        // поле ввода файла для эмуляции его сброса.
        imageInput.style.display = 'none';
        imageInput.offsetHeight; // Это чтение свойства вызывает перерисовку элемента
        imageInput.style.display = 'block';
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const descriptionField = document.getElementById('id_description');
        const charCount = document.getElementById('char-count description');

        descriptionField.addEventListener('input', function () {
            const currentLength = descriptionField.value.length;
            charCount.textContent = currentLength + ' / 700';

            // Если текст приближается к лимиту (например, 750 символов),
            // можно изменить цвет на красный
            if (currentLength >= 700) {
                charCount.style.color = 'red';
            } else {
                charCount.style.color = ''; // Сбросить цвет, если не приближается к лимиту
            }
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const titleField = document.getElementById('{{ form.title.id_for_label }}');
        const charCount = document.getElementById('char-count title');

        titleField.addEventListener('input', function () {
            const currentLength = titleField.value.length;
            charCount.textContent = currentLength + ' / 100';

            // Если текст приближается к лимиту (например, 90 символов),
            // можно изменить цвет на красный
            if (currentLength >= 90) {
                charCount.style.color = 'red';
            } else {
                charCount.style.color = ''; // Сбросить цвет, если не приближается к лимиту
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        // При загрузке страницы скрываем сначала все элементы
        $('#image-group, #price-group, #is_price_negotiable-group').hide();

        // При клике на кнопку "Купить"
        $('#buy-button').click(function () {
            $('#price-group').hide();
            $('#is_price_negotiable-group').hide();
            $('#image-group').hide();
        });

        // При клике на кнопку "Продать"
        $('#sell-button').click(function () {
            $('#image-group').show();
            $('#price-group').show();
            $('#is_price_negotiable-group').show();

            {#$('#id_is_price_negotiable').show();#}
            // Проверяем состояние "Договорной" и настроек поля "Цена" при переключении
            {#togglePriceField($('#id_is_price_negotiable').is(':checked'));#}
        });

        // Обработка изменения состояния "Договорной"
        $('#id_is_price_negotiable').change(function () {
            togglePriceField(this.checked);
        });

        // Функция для скрытия/показа поля "Цена" в зависимости от состояния "Договорной"
        function togglePriceField(isPriceNegotiable) {
            if (isPriceNegotiable) {
                // Если "Договорная" выбрана, выключаем поле "Цена" и очищаем его
                $('#id_price').prop('disabled', true).val('');
            } else {
                // Если "Договорная" не выбрана, включаем поле "Цена"
                $('#id_price').prop('disabled', false);
            }
        }
    });
</script>

</html>