{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Cards buy section -->
    <div class="container">
        <section id="cards__buy-section" class="cards__buy-section">

            <div class="listing-options">
                <div class="purchase-button">
                    <span>Покупка</span>
                </div>
            </div>

            <div class="cards" id="card-container">
                {% for buy in films_buy %}
                    <div class="card__buy card-color">
                        <div class="card__buy-content">
                            <div class="category-info">
                                <div class="product-cat__image">
                                    {% if buy.category.pk == 1 %}
                                        <img src="{% static 'images/categories/yangi-uskunalar-24px.png' %}"
                                             alt="cat image">
                                    {% elif buy.category.pk == 2 %}
                                        <img src="{% static 'images/categories/ishlatilgan-uskunalar-24px.png' %}"
                                             alt="cat image">
                                    {% elif buy.category.pk == 3 %}
                                        <img src="{% static 'images/categories/xomashyo-24px.png' %}"
                                             alt="cat image">
                                    {% elif buy.category.pk == 4 %}
                                        <img src="{% static 'images/categories/4.svg' %}" alt="cat image">
                                    {% endif %}
                                </div>
                                <a href="{% url "product-list" %}">{{ buy.category }} | {{ buy.sub_category }}</a>
                            </div>
                            <h2 class="title"><a href="{% url 'product-detail' buy.pk %}"
                                                 class="title">{{ buy.title }}</a></h2>
                            <p class="description">{{ buy.description }}</p>
                            <div class="product-data">
                                <div class="flags">
                                    <span class="country">{{ buy.country }}</span>
                                </div>
                                <div class="date">
                                    <span class="full-date">{{ buy.create_date }}</span>
                                </div>
                                <div class="like-and-more">
                                    <a href="{% url 'product-detail' buy.pk %}" class="read-more">Подробнее</a>
                                    <div class="svg-icon-container">
                                        {% if user.is_authenticated %}
                                            <span class="add-to-favorites" data-product-id="{{ buy.pk }}"
                                                  style="cursor: pointer">
                                                {% if sell.pk in in_favorite %}
                                                    <i class="fa-solid fa-heart"></i>
                                                {% else %}
                                                    <i class="fa-regular fa-heart"></i>
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="listing-options">
                <div class="view-all-button">
                    <a href="{% url 'product-list' %}">Все объявления</a>
                </div>
                <div class="create-listing-button">
                    <a href="{% url 'add_film' %}">Создать объявление</a>
                </div>
            </div>

        </section>
        <div class="horizontal_line"></div>
    </div>
    <!-- /Cards buy section -->

    <!-- Cards sell section -->
    <div class="container">
        <section id="cards__sell-section" class="cards__sell-section">

            <div class="listing-options">
                <div class="purchase-button">
                    <span>Продажа</span>
                </div>
            </div>

            <div class="cards" id="card-container">

                {% for sell in films_sell %}

                    <div class="card__sell card-color">
                        <div class="card__buy-content">
                            <div class="card__sell-image">
                                <img src="{{ sell.image.url }}" alt="Product Image">
                            </div>
                            <a href="{% url 'product-detail' sell.pk %}" class="title">{{ sell.title }}</a>

                            <div class="product-data">
                                <div class="flags">
                                    <span class="country">{{ sell.country }}</span>
                                </div>
                                <div class="date">
                                    <span class="full-date">{{ sell.create_date }}</span>
                                </div>
                                <div class="like-and-more">
                                    <a href="{% url "product-detail" sell.pk %}" class="read-more">Подробнее</a>
                                    <div class="svg-icon-container">
                                        {% if user.is_authenticated %}
                                            <span class="add-to-favorites" data-product-id="{{ sell.pk }}"
                                                  data-url="{% url 'add_to_favorites' sell.pk %}">
                                                <i class="fa-{% if is_favorite %}solid{% else %}regular{% endif %} fa-heart"
                                                   style="cursor: pointer; width: 24px"></i>
                                            </span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>

            <div class="listing-options">
                <div class="view-all-button">
                    <a href="{% url 'product-list' %}">Все объявления</a>
                </div>
                <div class="create-listing-button">
                    <a href="{% url 'add_film' %}">Создать объявление</a>
                </div>
            </div>

        </section>
    </div>
    <!-- /Cards sell section -->

    <script>
        const cardRows = document.querySelectorAll('.card-row');
        const colorClasses = ['card-color-pink', 'card-color-yellow', 'card-color-green', 'card-color-blue'];

        cardRows.forEach((row, index) => {
            const colorClass = colorClasses[index % colorClasses.length];
            row.querySelectorAll('.card__buy').forEach(card => {
                card.classList.add(colorClass);
            });
        });
    </script>

    <!-- like button -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".add-to-favorites").click(function () {
                var span = $(this);
                var productId = span.data("product-id");

                // Отправляем AJAX-запрос к add_to_favorites
                $.ajax({
                    url: "{% url 'add_to_favorites' 0 %}".replace('0', productId),
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data) {
                        if (data.added) {
                            // Продукт был добавлен в избранное, меняем иконку на fa-solid
                            span.find('i').removeClass('fa-regular').addClass('fa-solid');
                        } else {
                            // Продукт был удален из избранного, меняем иконку на fa-regular
                            span.find('i').removeClass('fa-solid').addClass('fa-regular');
                        }
                    },
                    error: function () {
                        alert("Произошла ошибка при обновлении избранного.");
                    }
                });
            });
        });
    </script>
{% endblock %}