{% load static %}

<link rel="stylesheet" href="{% static 'css/messages.css' %}">

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="message">
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{ message }}
                </div>
            </div>
        {% else %}
            <div class="message">
                <div class="alert alert-{{ message.tags }}">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{ message }}
                </div>
            </div>
        {% endif %}
    {% endfor %}

{% endif %}


<style>
    .alert {
        opacity: 1;
        transition: opacity 0.5s;
    }
</style>

<script>
    // Функция для автоматического скрытия сообщений через заданное время (например, 5 секунд)
    function autoHideMessages() {
        var messages = document.getElementsByClassName("message");
        var i;

        for (i = 0; i < messages.length; i++) {
            var message = messages[i];

            // Задержка в миллисекундах перед скрытием сообщения (в данном случае, 5000 мс = 5 секунд)
            var delay = 5000;

            setTimeout(function () {
                message.style.opacity = "0";

                setTimeout(function () {
                    message.style.display = "none";
                }, 300); // Задержка перед скрытием сообщения после анимации
            }, delay);
        }
    }

    // Вызов функции автоматического скрытия сообщений после загрузки страницы
    window.onload = autoHideMessages;

</script>