{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial=scale=1">
    <title>Tecnoprom</title>
    <link rel="icon" href="{% static 'images/categories/yangi-uskunalar-24px.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/product-list.css' %}">
    <link rel="stylesheet" href="{% static 'js/style.js' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>
<!-- Header section -->
{% include 'nav_bar.html' %}
<!-- /Header section -->

<!-- Topmost section -->
<div class="main-banner">
    <div class="container">
        <div class="banner-row">
            <div class="banner">
                <img src="" alt="Баннер 1">
            </div>
            <div class="banner">
                <img src="" alt="Баннер 2">
            </div>
        </div>
    </div>
</div>

<!-- Cards buy section -->
<div class="container">
    <section id="cards__buy-section" class="cards__buy-section">
        <div class="filter-container">
            <form class="filter-form" action="#">
                <div class="filter-item" id="type-group" style="width: 140px;">
                    <label for="type-group" class="form-label">Что вам нужно ?</label>
                    {{ form.type }}
                </div>

                <div style="width: 50%">
                    <div style="display: flex">
                        <div class="filter-item">
                            <label for="type-group" class="form-label">Что вам нужно ?</label>

                            {{ form.category }}
                        </div>
                        <div class="filter-item" id="subcategory-group">
                            <label for="type-group" class="form-label">Что вам нужно ?</label>

                            {{ form.sub_category }}
                        </div>
                    </div>
                    <div class="form-group" id="tags-group" style="display: block">
                        {#                        <label for="subcategory" class="form-label">Теги:</label>#}
                        <div id="tags-checkboxes">
                        </div>
                    </div>
                </div>
                <div style="display: flex;">
                    <div>
                        <div class="filter-item" id="country-group">
                            <label for="type-group" class="form-label">Страны</label>

                            {{ form.country }}
                        </div>
                        <div class="filter-item" id="city-group">
                            <label for="type-group" class="form-label">Города:</label>
                            {{ form.city }}
                        </div>

                    </div>
                </div>
                <div style="display: flex; align-items: flex-end;">
                    <button id="submit-filter">Фильтровать</button>

                </div>

            </form>
        </div>


        <div class="cards" id="card-container">
            {% for film in films %}
                {% if film.type == 'sell' %}
                    <div class="card__sell card-color">
                        <div class="card__buy-content">
                            <div class="card__sell-image">
                                <img src="{{ film.image.url }}" alt="Product Image">
                            </div>
                            <a href="{% url 'product-detail' film.pk %}" class="title">{{ film.title }}</a>

                            <div class="product-data">
                                <div class="flags">
                                    <img src="{% static 'images/Flag_of_Uzbekistan.svg' %}" alt="Флаг страны">
                                    <span class="country">{{ film.country }}</span>
                                </div>
                                <div class="date">
                                    <span class="full-date">{{ film.create_date }}</span>
                                </div>
                                <div class="like-and-more">
                                    <a href="#" class="read-more">Подробнее</a>
                                    <div class="svg-icon-container">
                                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg"
                                             viewBox="0 0 24 24"
                                             width="1em" height="1em">
                                            <path fill="currentColor" fill-rule="evenodd"
                                                  d="M20.219 10.367 12 20.419 3.806 10.4A3.96 3.96 0 0 1 3 8c0-2.206 1.795-4 4-4a4.004 4.004 0 0 1 3.868 3h2.264A4.003 4.003 0 0 1 17 4c2.206 0 4 1.794 4 4 0 .868-.279 1.698-.781 2.367M17 2a5.999 5.999 0 0 0-5 2.686A5.999 5.999 0 0 0 7 2C3.692 2 1 4.691 1 8a5.97 5.97 0 0 0 1.232 3.633L10.71 22h2.582l8.501-10.399A5.943 5.943 0 0 0 23 8c0-3.309-2.692-6-6-6"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% elif film.type == 'buy' %}
                    <div class="card__buy card-color">
                        <div class="card__buy-content">
                            <div class="category-info">
                                <div class="product-cat__image">
                                    <img src="{% static 'images/categories/1.svg' %}" alt="cat image">
                                </div>
                                <a href="#">{{ film.category }}</a>
                            </div>
                            <h2 class="title"><a href="{% url 'product-detail' film.pk %}"
                                                 class="title">{{ film.title }}</a></h2>
                            <p class="description">{{ film.description }}</p>
                            <div class="product-data">
                                <div class="flags">
                                    <img src="{% static 'images/Flag_of_Uzbekistan.svg' %}" alt="Флаг страны">
                                    <span class="country">{{ film.country }}</span>
                                </div>
                                <div class="date">
                                    <span class="full-date">{{ film.create_date }}</span>
                                </div>
                                <div class="like-and-more">
                                    <a href="#" class="read-more">Подробнее</a>
                                    <div class="svg-icon-container">
                                        <svg class="svg-icon css-1caitfj" xmlns="http://www.w3.org/2000/svg"
                                             viewBox="0 0 24 24" width="1em"
                                             height="1em">
                                            <path fill="currentColor" fill-rule="evenodd"
                                                  d="M20.219 10.367 12 20.419 3.806 10.4A3.96 3.96 0 0 1 3 8c0-2.206 1.795-4 4-4a4.004 4.004 0 0 1 3.868 3h2.264A4.003 4.003 0 0 1 17 4c2.206 0 4 1.794 4 4 0 .868-.279 1.698-.781 2.367M17 2a5.999 5.999 0 0 0-5 2.686A5.999 5.999 0 0 0 7 2C3.692 2 1 4.691 1 8a5.97 5.97 0 0 0 1.232 3.633L10.71 22h2.582l8.501-10.399A5.943 5.943 0 0 0 23 8c0-3.309-2.692-6-6-6"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}
            {% empty %}
                <h1>Пока что нет таких объявлений.</h1>
            {% endfor %}
        </div>

    </section>
</div>
<!-- /Cards buy section -->


<!-- Footer section -->
{% include 'footer.html' %}
<!-- /Footer section -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        const categorySelect = $('#id_category');
        const subcategorySelect = $('#id_sub_category');
        const tagsGroup = $('#tags-group'); // Добавляем элемент для тегов
        const tagsSelect = $('#id_tags'); // Замените на соответствующий id поля тегов

        // Функция для загрузки субкатегорий
        function loadSubcategories() {
            const selectedCategoryId = categorySelect.val();

            // Очищаем предыдущие опции и добавляем "Выберите субкатегорию"
            subcategorySelect.empty().append($('<option></option>').attr('value', '').text('Сначала выберите категорию'));
            tagsGroup.hide(); // Скрываем поле выбора тегов

            if (selectedCategoryId) {
                // Запрос на сервер для получения субкатегорий по выбранной категории
                $.ajax({
                    url: `/related_to_it/?category_id=${selectedCategoryId}`,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data.subcategories); // Здесь data определена и содержит данные
                        subcategorySelect.empty();
                        subcategorySelect.append($('<option></option>').attr('value', '').text('Выберите субкатегорию')); // Добавляем опцию по умолчанию
                        $.each(data.subcategories, function (key, value) {
                            subcategorySelect.append($('<option></option>').attr('value', key).text(value));
                        });
                        tagsGroup.show(); // Показываем поле выбора субкатегории
                    }
                });
            } else {
                tagsGroup.show(); // Показываем поле выбора субкатегории, даже если категория не выбрана
            }
        }

        categorySelect.change(loadSubcategories);

        loadSubcategories();

        // Функция для загрузки тегов
        function loadTags() {
            const selectedSubcategoryId = subcategorySelect.val();

            // Очищаем предыдущие чекбоксы
            $('#tags-checkboxes').empty();

            if (selectedSubcategoryId) {
                // Запрос на сервер для получения тегов по выбранной субкатегории
                $.ajax({
                    url: `/related_to_it/?subcategory_id=${selectedSubcategoryId}`,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data.tags); // Здесь data определена и содержит данные
                        $.each(data.tags, function (key, value) {
                            // Создаем div контейнер для каждого чекбокса и его лейбла
                            const checkboxContainer = $('<div>')
                                .addClass('cat')
                                .addClass('action');

                            // Создаем лейбл для каждого тега
                            const label = $('<label>');

                            // Создаем чекбокс для каждого тега и добавляем его внутрь лейбла
                            const checkbox = $('<input type="checkbox">')
                                .attr('id', `tag-${key}`)
                                .attr('name', 'tags')
                                .attr('value', key)
                                .appendTo(label);

                            // Добавляем текст тега внутрь лейбла
                            label.append($('<span>').text(value));

                            // Добавляем лейбл в контейнер
                            checkboxContainer.append(label);

                            // Добавляем контейнер в блок с чекбоксами
                            $('#tags-checkboxes').append(checkboxContainer);
                        });
                        tagsGroup.show(); // Показываем блок с чекбоксами для тегов
                    }
                });
            } else {
                tagsGroup.hide(); // Скрываем блок с чекбоксами для тегов, если субкатегория не выбрана
            }
        }

        // Отслеживаем изменения в поле выбора субкатегории
        subcategorySelect.change(loadTags);

        // Вызываем функцию загрузки тегов при инициализации страницы
        loadTags();
    });

</script>

<script>
    $(document).ready(function () {
        // Функция, которая будет вызываться при изменении поля "Страна"
        $("#id_country").change(function () {
            // Получаем значение выбранной страны
            var selectedCountry = $(this).val();

            // Если выбран Узбекистан, показываем поле "Город", иначе скрываем его
            if (selectedCountry === "1") {
                $("#city-group").show();
            } else {
                $("#city-group").hide();
            }
        });

        // Инициализация состояния поля "Город" при загрузке страницы
        if ($("#country").val() === "1") {
            $("#city-group").show();
        } else {
            $("#city-group").hide();
        }
    });
</script>

</body>
</html>