{% load i18n %}
{% load static %}
{% load social_share %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static "css/product/style.css" %}">
    <link rel="stylesheet" href="{% static "css/product/main.css" %}">
    <link rel="stylesheet" href="{% static "css/product/product-details.css" %}">
    <title>Product Details</title>
</head>
<body>

<!-- Header section -->
{% include 'nav_bar.html' %}
<!-- /Header section -->

<div class="container">
    <section class="product-details" style="padding-bottom: 50px">
        <div class="product-detail">
            <div class="product-foto-and-info">
                <div class="product-foto-description-contact">

                    <div class="product-foto">
                        <div class="slider-container">
                            <div class="slider-track">
                                {#                                {% for photo in product.photos.all %}#}
                                <div class="slide">
                                    <img src="{{ product.image.url }}" alt="Image {{ forloop.counter }}">
                                </div>
                                {#                                {% endfor %}#}
                            </div>
                        </div>

                        {% if product.photos.count > 1 %}
                            <div class="slider-controls">
                                <button class="prev-button"><i class="fa-solid fa-angle-left"></i></button>
                                <button class="next-button"><i class="fa-solid fa-angle-right"></i></button>
                            </div>
                        {% endif %}
                    </div>


                    <div class="product-description">
                        <div class="path_to_product" style="padding-bottom: 10px;">
                            <a href="#">{{ product.country }}/</a>
                            <a href="#">{% if product.city %}{{ product.city }}/{% endif %}</a>
                            <a href="#">{{ product.category }}/</a>
                            <a href="#">{{ product.sub_category }}/</a>
                        </div>
                        <div class="product-tags">
                            {% for tag in product.tags.all %}
                                <span class="tag">{{ tag.name }}</span>
                            {% endfor %}
                        </div>
                        <div class="product-title">
                            <h1>{{ product.title }}</h1>
                        </div>
                        <h3>{% translate "Описание товара" %}</h3>
                        <span>{{ product.description }}</span>
                        <hr>
                        <div style="display: flex; justify-content: space-between;">
                            <span>{% translate "id" %}:{{ product.pk }}</span>
                            <span>{% translate "Просмотров" %}: {{ product.view_count }}</span>
                        </div>
                    </div>


                    <div class="contact-the-seller">

                        {#                        {% if product.author_id %}#}
                        <div class="author-info2">

                            <div class="author-foto">
                                <img src="{% static "images/avatar.png" %}" alt="author avatar">
                            </div>

                            <div class="author-data">
                                <a href="{% url 'profile' product.author_id %}"
                                   target="_blank">{{ product.author }}</a>
                            </div>

                        </div>
                        {#                        {% endif %}#}

                        <div class="author-buttons">

                            <div class="messanger">
                                <a href="https://t.me/{{ product.telegram }}"
                                   class="messanger-link">{% translate "телеграм" %}</a>
                            </div>

                            <div class="phone-number-block">
                                <a href="#" class="show-phone-number">{% translate "Посмотреть телефон номер" %}</a>
                                <a href="tel:{{ product.telephone }}"
                                   class="phone-number hidden">{{ product.telephone }}</a>
                            </div>

                        </div>

                    </div>


                </div>
                <div class="listing-info">

                    <div class="product-info">

                        <div class="publication-date">

                            <span class="css-fscvqi er34gjf0">{% translate 'Опубликовано' %} {{ product.create_date|date:"d F Y г." }}</span>

                            <div class="svg-icon-container">
                                {#                                {% if user.is_authenticated %}#}
                                <span class="add-to-favorites" data-product-id="{{ product.id }}"
                                      data-url="{% url 'add_to_favorites' product.id %}">
                                            <i class="fa-{% if is_favorite %}solid{% else %}regular{% endif %} fa-heart fa-lg"
                                               style="cursor: pointer;"></i>
                                    </span>
                                {#                                {% endif %}#}
                            </div>
                        </div>

                        <div class="product-title">
                            <h1>{{ product.title }}</h1>
                        </div>

                        <div class="product-title">
                            {% if product.price %}
                                <h1>{{ product.price }}</h1>
                            {% else %}
                                <h1>Договорный</h1>
                            {% endif %}
                        </div>

                        <div class="product-buttons">

                            <div class="share-buttons">
                                <div class="share_to-telegram">
                                    {% post_to_telegram object_or_url '' "<i class='fa-brands fa-telegram'></i>" 'fdsfasdf' %}
                                </div>
                            </div>

                            <div class="messanger">
                                <a href="https://t.me/{{ product.telegram }}"
                                   class="messanger-link">{% translate "телеграм" %}</a>
                            </div>

                            <div class="phone-number-block">
                                <a href="#" class="show-phone-number">{% translate "Посмотреть телефон номер" %}</a>
                                <a href="tel:{{ product.telephone }}"
                                   class="phone-number hidden">{{ product.telephone }}</a>
                            </div>

                        </div>

                    </div>
                    {% if product.author %}
                        <div class="author-info">
                            <p>{% translate "ПОЛЬЗОВАТЕЛЬ" %}</p>
                            <div class="author-row">
                                <div class="author-foto">
                                    <img src="{% static 'images/avatar.png' %}" alt="author avatar">
                                </div>
                                <div class="author-data">
                                    <a href="{% url 'profile' product.author_id %}"
                                       target="_blank">{{ product.author }}</a>
                                    <span class="author-data-joined">{% translate "в TECNOPROM с" %} {{ product.author.date_joined|date:"F Y г." }}</span>
                                </div>
                            </div>

                            <div class="button-all-announcements-this-author">
                                <a href="{% url 'profile' product.author_id %}"
                                   target="_blank">{% translate "Все объявления автора" %}</a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="product-location">
                        <p>{% translate "МЕСТОПОЛОЖЕНИЕ" %}</p>
                        <div class="location-row">
                            <div class="location-icon">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <div class="location-text">
                                {{ product.country }}
                                {% if product.city %}
                                    / {{ product.city }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-products">
                <div class="cards" id="card-container">
                    {% for product in author_products %}
                        {% if product.type == 'sell' %}
                            <div class="card__sell card-color">
                                <div class="card__buy-content">
                                    <div class="card__sell-image">
                                        <img src="{{ product.image.url }}" alt="Product Image">
                                    </div>
                                    <a href="{% url 'product-detail' product.pk %}"
                                       class="title">{{ product.title }}</a>
                                    <div class="product-data">
                                        <div class="category-info">
                                            <div class="product-cat__image">
                                                <img src="{% static 'images/categories/1.svg' %}"
                                                     alt="cat image">
                                            </div>
                                            <a href="#">{{ product.category }}</a>
                                        </div>

                                        <div class="flags">
                                            <span class="country">{{ product.country }}</span>
                                        </div>
                                        <div class="date">
                                            <span class="full-date">{{ product.create_date }}</span>
                                        </div>
                                        <div class="like-and-more">
                                            <a href="{% url "product-detail" product.pk %}"
                                               class="read-more">{% translate "Подробнее" %}</a>
                                            <div class="svg-icon-container">
                                                {#                                                    {% if user.is_authenticated %}#}
                                                <span class="add-to-favorites"
                                                      data-product-id="{{ product.id }}"
                                                      data-url="{% url 'add_to_favorites' product.id %}">
                                            <i class="fa-{% if is_favorite %}solid{% else %}regular{% endif %} fa-heart"
                                               style="font-size: 15px"></i>
                                            </span>
                                                {#                                                    {% endif %}#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif product.type == 'buy' %}
                            <div class="card__buy card-color">
                                <div class="card__buy-content">
                                    <div class="category-info">
                                        <div class="product-cat__image">
                                            <img src="{% static 'images/categories/1.svg' %}" alt="cat image">
                                        </div>
                                        <a href="#">{{ product.category }}</a>
                                    </div>
                                    <h2 class="title"><a href="{% url 'product-detail' product.pk %}"
                                                         class="title">{{ product.title }}</a></h2>
                                    <p class="description">{{ product.description }}</p>
                                    <div class="product-data">
                                        <div class="flags">
                                            <span class="country">{{ product.country }}</span>
                                        </div>
                                        <div class="date">
                                            <span class="full-date">{{ product.create_date }}</span>
                                        </div>
                                        <div class="like-and-more">
                                            <a href="{% url 'product-detail' product.pk %}"
                                               class="read-more">{% translate "Подробнее" %}</a>
                                            <div class="svg-icon-container">
                                                {% if user.is_authenticated %}
                                                    <span class="add-to-favorites"
                                                          data-product-id="{{ product.id }}"
                                                          data-url="{% url 'add_to_favorites' product.id %}">
                                            <i class="fa-{% if is_favorite %}solid{% else %}regular{% endif %} fa-heart fa-lg"
                                               style="font-size: 15px"></i>
                                        </span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                    {% empty %}
                        <h1>{% translate "Пока что нет объявлений." %}</h1>
                    {% endfor %}
                </div>
            </div>
            <div class="swiper-container similar-products">
                <div class="swiper-wrapper cards" id="card-container">
                    {% for product in similar_products %}
                        {% if product.type == 'sell' %}
                            <div class="card__sell card-color">
                                <div class="card__buy-content">
                                    <div class="card__sell-image">
                                        <img src="{{ product.image.url }}" alt="Product Image">
                                    </div>
                                    <a href="{% url 'product-detail' product.pk %}"
                                       class="title">{{ product.title }}</a>
                                    <div class="product-data">
                                        <div class="category-info">
                                            <div class="product-cat__image">
                                                <img src="{% static 'images/categories/1.svg' %}"
                                                     alt="cat image">
                                            </div>
                                            <a href="#">{{ product.category }}</a>
                                        </div>

                                        <div class="flags">
                                            <span class="country">{{ product.country }}</span>
                                        </div>
                                        <div class="date">
                                            <span class="full-date">{{ product.create_date }}</span>
                                        </div>
                                        <div class="like-and-more">
                                            <a href="{% url "product-detail" product.pk %}"
                                               class="read-more">{% translate "Подробнее" %}</a>
                                            <div class="svg-icon-container">
                                                {#                                                    {% if user.is_authenticated %}#}
                                                <span class="add-to-favorites"
                                                      data-product-id="{{ product.id }}"
                                                      data-url="{% url 'add_to_favorites' product.id %}">
                                            <i class="fa-{% if is_favorite %}solid{% else %}regular{% endif %} fa-heart"
                                               style="font-size: 15px"></i>
                                            </span>
                                                {#                                                    {% endif %}#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif product.type == 'buy' %}
                            <div class="card__buy card-color">
                                <div class="card__buy-content">
                                    <div class="category-info">
                                        <div class="product-cat__image">
                                            <img src="{% static 'images/categories/1.svg' %}" alt="cat image">
                                        </div>
                                        <a href="#">{{ product.category }}</a>
                                    </div>
                                    <h2 class="title"><a href="{% url 'product-detail' product.pk %}"
                                                         class="title">{{ product.title }}</a></h2>
                                    <p class="description">{{ product.description }}</p>
                                    <div class="product-data">
                                        <div class="flags">
                                            <span class="country">{{ product.country }}</span>
                                        </div>
                                        <div class="date">
                                            <span class="full-date">{{ product.create_date }}</span>
                                        </div>
                                        <div class="like-and-more">
                                            <a href="{% url 'product-detail' product.pk %}"
                                               class="read-more">{% translate "Подробнее" %}</a>
                                            <div class="svg-icon-container">
                                                {% if user.is_authenticated %}
                                                    <span class="add-to-favorites"
                                                          data-product-id="{{ product.id }}"
                                                          data-url="{% url 'add_to_favorites' product.id %}">
                                            <i class="fa-{% if is_favorite %}solid{% else %}regular{% endif %} fa-heart fa-lg"
                                               style="font-size: 15px"></i>
                                        </span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                    {% empty %}
                        <h1>{% translate "Пока что нет объявлений." %}</h1>
                    {% endfor %}
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </section>
</div>


{% include "footer.html" %}


<!-- Добавьте в шапку вашего HTML-документа -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Добавьте в конец вашего HTML-документа -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1, // Количество отображаемых слайдов
            spaceBetween: 20, // Расстояние между слайдами
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    });
</script>

<!-- like button -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".add-to-favorites").click(function () {
            var span = $(this);
            var productId = span.data("product-id");

            // Отправляем AJAX-запрос к add_to_favorites
            {% if user.is_authenticated %}
                $.ajax({
                    url: "{% url 'add_to_favorites' 0 %}".replace('0', productId),
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data) {
                        if (data.added) {
                            // Продукт был добавлен в избранное, меняем иконку на fa-solid
                            span.find('i').removeClass('fa-regular').addClass('fa-solid');
                        } else {
                            // Продукт был удален из избранного, меняем иконку на fa-regular
                            span.find('i').removeClass('fa-solid').addClass('fa-regular');
                        }
                    },
                    error: function () {
                        alert("Произошла ошибка при обновлении избранного.");
                    }
                });

            {% else %}
                window.location.href = "{% url 'login' %}"
            {% endif %}
        });
    });
</script>
<!-- SLIDER photos -->
<script>
    const sliderContainer = document.querySelector('.slider-container');
    const sliderTrack = document.querySelector('.slider-track');
    const slides = document.querySelectorAll('.slide');
    const slideWidth = slides[0].clientWidth;
    let currentIndex = 0;
    let touchStartX = 0;
    let cursorStartX = 0;

    function showSlide(index) {
        if (index < 0) {
            index = slides.length - 1;
        } else if (index >= slides.length) {
            index = 0;
        }

        const offset = (sliderContainer.clientWidth - slideWidth) / 2 - index * slideWidth;
        sliderTrack.style.transform = `translateX(${offset}px)`;

        slides.forEach((slide, idx) => {
            slide.classList.remove('active');
        });

        slides[index].classList.add('active');

        currentIndex = index;
    }

    // Начальный показ слайдов
    showSlide(currentIndex);

    // Переключение на следующий слайд
    function nextSlide() {
        showSlide(currentIndex + 1);
    }

    // Переключение на предыдущий слайд
    function prevSlide() {
        showSlide(currentIndex - 1);
    }

    // Обработчики событий для кнопок переключения
    document.querySelector('.next-button').addEventListener('click', nextSlide);
    document.querySelector('.prev-button').addEventListener('click', prevSlide);

    // Обработчики событий для курсора
    sliderContainer.addEventListener('mousedown', (e) => {
        cursorStartX = e.clientX;
    });

    sliderContainer.addEventListener('mouseup', (e) => {
        const cursorEndX = e.clientX;
        const cursorDeltaX = cursorEndX - cursorStartX;

        if (cursorDeltaX > 50) {
            prevSlide(); // Переключение на предыдущий слайд
        } else if (cursorDeltaX < -50) {
            nextSlide(); // Переключение на следующий слайд
        }
    });

    // Обработчики событий для сенсорных устройств
    sliderContainer.addEventListener('touchstart', (e) => {
        touchStartX = e.touches[0].clientX;
    });

    sliderContainer.addEventListener('touchend', (e) => {
        const touchEndX = e.changedTouches[0].clientX;
        const touchDeltaX = touchEndX - touchStartX;

        if (touchDeltaX > 50) {
            prevSlide(); // Переключение на предыдущий слайд
        } else if (touchDeltaX < -50) {
            nextSlide(); // Переключение на следующий слайд
        }
    });

</script>

<!-- Phone number -->
{#<script>#}
{#    const showPhoneNumberButtons = document.querySelectorAll('.show-phone-number');#}
{#    const phoneNumberLinks = document.querySelectorAll('.phone-number');#}
{#    const productId = {{ product.id }};  // Make sure to use the correct product ID#}
{##}
{#    showPhoneNumberButtons.forEach((button, index) => {#}
{#        button.addEventListener('click', (event) => {#}
{#            event.preventDefault();#}
{##}
{#            button.classList.add('hidden');#}
{#            phoneNumberLinks[index].classList.remove('hidden');#}
{##}
{#            fetch('{% url 'product_phone_view_count' %}', {#}
{#                method: 'POST',#}
{#                headers: {#}
{#                    'Content-Type': 'application/json',#}
{#                },#}
{#                body: JSON.stringify({product_id: productId}),#}
{#            })#}
{#                .then(response => response.json())#}
{#                .then(data => {#}
{#                    if (data.status === 'success') {#}
{#                        // Handle success, e.g., update the view count in the UI#}
{#                    } else {#}
{#                        // Handle any errors#}
{#                    }#}
{#                });#}
{#        });#}
{#    });#}
{#</script>#}

<script>const showPhoneNumberButtons = $('.show-phone-number');
const phoneNumberLinks = $('.phone-number');
const productId = {{ product.pk }};  // Make sure to use the correct product ID
const csrfToken = '{{ csrf_token|escapejs }}';  // Include the CSRF token

showPhoneNumberButtons.click(function (event) {
    event.preventDefault();
    const button = $(this);
    const index = showPhoneNumberButtons.index(button);

    button.addClass('hidden');
    phoneNumberLinks.eq(index).removeClass('hidden');
    console.log('productId:', productId);

    const requestData = {
        product_id: productId
    };

    $.ajax({
        url: '{% url 'product_phone_view_count' %}',
        type: 'POST',
        dataType: 'json',
        headers: {
            'X-CSRFToken': csrfToken,
        },
        data: requestData,
        {#contentType: 'application/json',#}
        success: function (data) {
            if (data.status === 'success') {
                // Handle success, e.g., update the view count in the UI
            } else {
                // Handle any errors
            }
        },
        error: function (error) {
            console.error('Ошибка при выполнении действия:', error);
        }
    });
});
</script>


<!-- share buttons -->

</body>
</html>
