.section__repost-form {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.repost-form {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 730px;
    width: 100%;
    text-align: center;
}

.repost-form label {
    font-weight: bold;
    /*    margin-bottom: 10px;*/
    display: block;
    color: #333;
}

.repost-form button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.repost-form button:hover {
    background-color: #2a80b9;
}

.complaint-radio-label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.complaint-radio-input {
    margin-right: 5px;
}


#id_complaint_type {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 20px;
}

#id_complaint_type div {
    padding: 5px;
    border: 1px solid #bbccdd;
    border-radius: 18px;
}

#id_complaint_type div label input {
    display: none;
}

.form__description textarea {
    width: 90%;
    border-radius: 18px;
    padding: 5px;
}