.company-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.company-cards .card__sell {
    width: 100%;
    height: 320px;
}

.profile-tags p {
    border: 1px solid #6f6f6f;
    border-radius: 24px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    padding: 8px 10px;
}


.company-data {
    display: flex;
    gap: 5px;
    color: #00000099;
}

.company-data div p {
    font-size: 14px;
    margin: 0;
}

@media screen and (max-width: 480px) {

    .profile-buttons {
        flex-wrap: wrap;
        gap: 20px;
    }


    .company-cards .card__sell, .card__buy {
        width: calc(100% - 22px);
    }

    .gdsgogsf {
        display: block;
    }
}
