{% extends 'base.html' %}
{% load static %}

{% block content %}
	    <!-- Cards buy section -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <div class="container">
        <section id="cards__buy-section" class="cards__buy-section">

            <div class="listing-options">
                <div class="purchase-button">
                    <span>Покупка</span>
                </div>
            </div>

            <div class="cards" id="card-container">

                <div class="card-row">
                    <div class="card__buy card-color">
                        <div class="card__buy-content">
                            <div class="category-info">
                                <div class="product-cat__image">
                                    <img src="{% static 'images/cat-img/1.svg' %}" alt="cat image">
                                </div>
                                <a href="#">yangi uskuna</a>
                            </div>
                            <h2 class="title"><a href="#" class="title">Сушилка сотилади</a></h2>
                            <p class="description">Сушилка сотилади
                                50 kg 450$
                                75kg 700$
                                100kg 900$
                                тел.+998945630030</p>
                            <div class="product-data">
                                <div class="flags">
                                    <img src="{% static 'images/Flag_of_Uzbekistan.svg' %}" alt="Флаг страны">
                                    <span class="country">Страна</span>
                                </div>
                                <div class="date">
                                    <span class="full-date">01.01.2023</span>
                                </div>
                                <div class="like-and-more">
                                    <a href="#" class="read-more">Подробнее</a>
                                    <img src="{% static 'images/noun-like-1012923 (2).svg' %}" alt="like">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__buy card-color">
                        <div class="card__buy-content">
                            <div class="category-info">
                                <div class="product-cat__image">
                                    <img src="{% static 'images/cat-img/2.svg' %}" alt="cat image">
                                </div>
                                <a href="#">yangi uskuna</a>
                            </div>
                            <h2 class="title"><a href="#" class="title">Сушилка сотилади</a></h2>
                            <p class="description">Сушилка сотилади
                                50 kg 450$
                                75kg 700$
                                100kg 900$
                                тел.+998945630030</p>
                            <div class="product-data">
                                <div class="flags">
                                    <img src="{% static 'images/Flag_of_Uzbekistan.svg' %}" alt="Флаг страны">
                                    <span class="country">Страна</span>
                                </div>
                                <div class="date">
                                    <span class="full-date">01.01.2023</span>
                                </div>
                                <div class="like-and-more">
                                    <a href="#" class="read-more">Подробнее</a>
                                    <img src="{% static 'images/noun-like-1012923 (2).svg' %}" alt="like">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__buy card-color">
                        <div class="card__buy-content">
                            <div class="category-info">
                                <div class="product-cat__image">
                                    <img src="{% static 'images/cat-img/3.svg' %}" alt="cat image">
                                </div>
                                <a href="#">ishlatilgan uskuna</a>
                            </div>
                            <h2 class="title"><a href="#" class="title">Сушилка сотилади</a></h2>
                            <p class="description">▪️Янги, бир хафта ишлатилган
                                ▪️Хитой ускунаси
                                ▪️380 вольтда ишлиди
                                ▪️Соатига 400  та упаковка чиқаради
                                ▪️Компрессор қўшиб берилади</p>
                            <div class="product-data">
                                <div class="flags">
                                    <img src="{% static 'images/Flag_of_Uzbekistan.svg' %}" alt="Флаг страны">
                                    <span class="country">Страна</span>
                                </div>
                                <div class="date">
                                    <span class="full-date">01.01.2023</span>
                                </div>
                                <div class="like-and-more">
                                    <a href="#" class="read-more">Подробнее</a>
                                    <img src="{% static 'images/noun-like-1012923 (2).svg' %}" alt="like">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__buy card-color">
                        <div class="card__buy-content">
                            <div class="category-info">
                                <div class="product-cat__image">
                                    <img src="{% static 'images/cat-img/4.svg' %}" alt="cat image">
                                </div>
                                <a href="#">xom ashyo</a>
                            </div>
                            <h2 class="title"><a href="#" class="title">Сушилка сотилади</a></h2>
                            <p class="description">ишлаб чиқаради.
                                (Производство пластиковых вставок для воротников мужских
                                рубашек)

                            ▪️Холати: Яхши холатда.
                            ▪️Ишлаб чиқариш қуввати: Соатига 2000-3000 дона.
                            ▪️Логотип босиш имкониятига эга.
                            ▪️Хитойдан сотиб олинган.
                            ▪️Ҳом ашёлари Ўзбекистонда мавжуд.

                            ✅Ишлатишни ўргатиб қўямиз хамда барча клиент базасини
                                хам берамиз.

                                💰9 000$

                            📱+998944050004</p>
                            <div class="product-data">
                                <div class="flags">
                                    <img src="{% static 'images/Flag_of_Uzbekistan.svg' %}" alt="Флаг страны">
                                    <span class="country">Страна</span>
                                </div>
                                <div class="date">
                                    <span class="full-date">01.01.2023</span>
                                </div>
                                <div class="like-and-more">
                                    <a href="#" class="read-more">Подробнее</a>
                                    <img src="{% static 'images/noun-like-1012923 (2).svg' %}" alt="like">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-row">
                    <div class="card__buy card-color">
                        <div class="card__buy-content">
                            <div class="category-info">
                                <div class="product-cat__image">
                                    <img src="{% static 'images/cat-img/1.svg' %}" alt="cat image">
                                </div>
                                <a href="#">yangi uskuna</a>
                            </div>
                            <h2 class="title"><a href="#" class="title">Сушилка сотилади</a></h2>
                            <p class="description">▪️ Холати:  ишлатилган
                                ▪️ каймок, сыр, катик, шоколод, кетчуп  хуллас куюк
                                махсулотларни хайдаш учун ишлатилади.
                                ▪️Зангламас металлдан нержевейкадан.
                                ————————
                                ▪️рабочый
                                ▪️ сметана, сыр, кефир, шоколод, кетчуп. Исползуеться для густые продукции.
                                ▪️Корпус нержевейще металл.

                                💰Келишилади.

                                📱+998909902448
                                📱+998999649003</p>
                                <div class="product-data">
                                    <div class="flags">
                                        <img src="{% static 'images/Flag_of_Uzbekistan.svg' %}" alt="Флаг страны">
                                        <span class="country">Страна</span>
                                    </div>
                                    <div class="date">
                                        <span class="full-date">01.01.2023</span>
                                    </div>
                                    <div class="like-and-more">
                                        <a href="#" class="read-more">Подробнее</a>
                                        <img src="{% static 'images/noun-like-1012923 (2).svg' %}" alt="like">
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="card__buy card-color">
                        <div class="card__buy-content">
                            <div class="category-info">
                                <div class="product-cat__image">
                                    <img src="{% static 'images/cat-img/2.svg' %}" alt="cat image">
                                </div>
                                <a href="#">yangi uskuna</a>
                            </div>
                            <h2 class="title"><a href="#" class="title">Сушилка сотилади</a></h2>
                            <p class="description">▪️Марка/ Модель POWER STATION/XCGF-300
                                ▪️Напряжение 400V/230V
                                ▪️Резервная мощность емкость 200kW/250kVA
                                ▪️частота 50HZ
                                ▪️Общая мощность емкость
                                ▪️Скорость вращения 1500r/min
                                ▪️Нагреватель Стандарт
                                ▪️сила тока 360A

                                💰22 100$

                                📱+998909089666</p>
                                <div class="product-data">
                                    <div class="flags">
                                        <img src="{% static 'images/Flag_of_Uzbekistan.svg' %}" alt="Флаг страны">
                                        <span class="country">Страна</span>
                                    </div>
                                    <div class="date">
                                        <span class="full-date">01.01.2023</span>
                                    </div>
                                    <div class="like-and-more">
                                        <a href="#" class="read-more">Подробнее</a>
                                        <img src="{% static 'images/noun-like-1012923 (2).svg' %}" alt="like">
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="card__buy card-color">
                        <div class="card__buy-content">
                            <div class="category-info">
                                <div class="product-cat__image">
                                    <img src="{% static 'images/cat-img/3.svg' %}" alt="cat image">
                                </div>
                                <a href="#">yangi uskuna</a>
                            </div>
                            <h2 class="title"><a href="#" class="title">Сушилка сотилади</a></h2>
                            <p class="description">▪️Оборудование совсем новое
                                ▪️Гарантия имеется
                                ▪️Помощь в пуско-наладке
                                ▪️Официальный дилер
                                ▪️Бесплатная консультация

                                💰5 560$

                                📱+998998818880</p>
                                <div class="product-data">
                                    <div class="flags">
                                        <img src="{% static 'images/Flag_of_Uzbekistan.svg' %}" alt="Флаг страны">
                                        <span class="country">Страна</span>
                                    </div>
                                    <div class="date">
                                        <span class="full-date">01.01.2023</span>
                                    </div>
                                    <div class="like-and-more">
                                        <a href="#" class="read-more">Подробнее</a>
                                        <img src="{% static 'images/noun-like-1012923 (2).svg' %}" alt="like">
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="card__buy card-color">
                        <div class="card__buy-content">
                            <div class="category-info">
                                <div class="product-cat__image">
                                    <img src="{% static 'images/cat-img/4.svg' %}" alt="cat image">
                                </div>
                                <a href="#">yangi uskuna</a>
                            </div>
                            <h2 class="title">Название объявления 1</h2>
                            <p class="description">Описание объявления...</p>
                            <div class="product-data">
                                <div class="flags">
                                    <img src="{% static 'images/Flag_of_Uzbekistan.svg' %}" alt="Флаг страны">
                                    <span class="country">Страна</span>
                                </div>
                                <div class="date">
                                    <span class="full-date">01.01.2023</span>
                                </div>
                                <div class="like-and-more">
                                    <a href="#" class="read-more">Подробнее</a>
                                    <img src="{% static 'images/noun-like-1012923 (2).svg' %}" alt="like">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-row">
                    <div class="card__buy card-color">
                        <div class="card__buy-content">
                            <div class="category-info">
                                <div class="product-cat__image">
                                    <img src="{% static 'images/cat-img/1.svg' %}" alt="cat image">
                                </div>
                                <a href="#">yangi uskuna</a>
                            </div>
                            <h2 class="title">Лаваш хамирини тайёрлаш  ускунаси</h2>
                            <p class="description">▪️ Хамирни ўзи қоради, ўзи ёяди ва ўзи пиширади
                                ▪️ Соатига 25-25кг ун киради
                                ▪️ 20kw, 380 V да ишлайди
                                ▪️ Ускуна зангламас металлдан ясалган.

                                💰9450$

                                📱+998977743731</p>
                                <div class="product-data">
                                    <div class="flags">
                                        <img src="{% static 'images/Flag_of_Uzbekistan.svg' %}" alt="Флаг страны">
                                        <span class="country">Страна</span>
                                    </div>
                                    <div class="date">
                                        <span class="full-date">01.01.2023</span>
                                    </div>
                                    <div class="like-and-more">
                                        <a href="#" class="read-more">Подробнее</a>
                                        <img src="{% static 'images/noun-like-1012923 (2).svg' %}" alt="like">
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="card__buy card-color">
                        <div class="card__buy-content">
                            <div class="category-info">
                                <div class="product-cat__image">
                                    <img src="{% static 'images/cat-img/2.svg' %}" alt="cat image">
                                </div>
                                <a href="#">yangi uskuna</a>
                            </div>
                            <h2 class="title">XD granulyatori-FL130- 1</h2>
                            <p class="description">▪️220×1,8 m bochka
                                ▪️Yangi 45 kVt dvigatellar va11 kVt
                                ▪️(savdo belgisi Kowo)
                                ▪️inverter
                                ▪️55 kVt va 11 kVt
                                ▪️Granulyator turi 180
                                ▪️Xitoy davlatidan siz xohlagan barcha turdagi, Uskunalarni topib
                                olib kelib yetkazib beramiz
                                ▪️Asosiy maqsadimiz sizga qulay hamda arzon narxlarda yuqori
                                sifatli mahsulotlarni yetkazib berish va ishonchliligini kafolatlash!

                                🧮 Rastamojka alohida hisoblanadi
                                Legotada

                                💰19500$

                                📱+998935048883
                                📱+998971023808
                                📱+998949838887</p>
                                <div class="product-data">
                                    <div class="flags">
                                        <img src="{% static 'images/Flag_of_Uzbekistan.svg' %}" alt="Флаг страны">
                                        <span class="country">Страна</span>
                                    </div>
                                    <div class="date">
                                        <span class="full-date">01.01.2023</span>
                                    </div>
                                    <div class="like-and-more">
                                        <a href="#" class="read-more">Подробнее</a>
                                        <img src="{% static 'images/noun-like-1012923 (2).svg' %}" alt="like">
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="card__buy card-color">
                        <div class="card__buy-content">
                            <div class="category-info">
                                <div class="product-cat__image">
                                    <img src="{% static 'images/cat-img/3.svg' %}" alt="cat image">
                                </div>
                                <a href="#">yangi uskuna</a>
                            </div>
                            <h2 class="title">Салфетка ишлаб чиқариш линияси</h2>
                            <p class="description">▪️Минутига 800тадан 1500 тагача салфетка чиказади.
                                ▪️4.5 кВт энергия сарфи соатига.

                                💰 3500 $

                                📱+998932232424</p>
                                <div class="product-data">
                                    <div class="flags">
                                        <img src="{% static 'images/Flag_of_Uzbekistan.svg' %}" alt="Флаг страны">
                                        <span class="country">Страна</span>
                                    </div>
                                    <div class="date">
                                        <span class="full-date">01.01.2023</span>
                                    </div>
                                    <div class="like-and-more">
                                        <a href="#" class="read-more">Подробнее</a>
                                        <img src="{% static 'images/noun-like-1012923 (2).svg' %}" alt="like">
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="card__buy card-color">
                        <div class="card__buy-content">
                            <div class="category-info">
                                <div class="product-cat__image">
                                    <img src="{% static 'images/cat-img/4.svg' %}" alt="cat image">
                                </div>
                                <a href="#">yangi uskuna</a>
                            </div>
                            <h2 class="title">➡️Салфетка ишлаб чикариш линиялари омборимизда
                                мавжуд!</h2>
                            <p class="description">▪️Сиз истаган хажмда ва модификацияда
                                ▪️Эл.энергия 380 v, 4.5 Kw
                                ▪️Ишлаб чикариш куввати 700-800/минут

                                💰келишилади

                                📱+998930400718
                                📱+998934803014</p>
                                <div class="product-data">
                                    <div class="flags">
                                        <img src="{% static 'images/Flag_of_Uzbekistan.svg' %}" alt="Флаг страны">
                                        <span class="country">Страна</span>
                                    </div>
                                    <div class="date">
                                        <span class="full-date">01.01.2023</span>
                                    </div>
                                    <div class="like-and-more">
                                        <a href="#" class="read-more">Подробнее</a>
                                        <img src="{% static 'images/noun-like-1012923 (2).svg' %}" alt="like">
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="listing-options">
                <div class="view-all-button">
                    <a href="#">Все объявления</a>
                </div>
                <div class="create-listing-button">
                    <a href="#">Создать объявление</a>
                </div>
            </div>

        </section>
        <div class="horizontal_line"></div>
    </div>
    <!-- /Cards buy section -->


    <!-- Cards sell section -->
    <div class="container">
        <section id="cards__sell-section" class="cards__sell-section">

            <div class="listing-options">
                <div class="purchase-button">
                    <span>Продажа</span>
                </div>
            </div>

            <div class="cards" id="card-container">

                <div class="card-row">
                    <div class="card__sell card-color">
                        <div class="card__buy-content">
                            <div class="card__sell-image">
                                <img src="{% static 'images/product-images/1.jpg' %}" alt="Product Image">
                            </div>
                            <h2 class="title">Плесос сотилади</h2>

                            <div class="product-data">
                                <div class="flags">
                                    <img src="{% static 'images/Flag_of_Uzbekistan.svg' %}" alt="Флаг страны">
                                    <span class="country">Страна</span>
                                </div>
                                <div class="date">
                                    <span class="full-date">01.01.2023</span>
                                </div>
                                <div class="like-and-more">
                                    <a href="#" class="read-more">Подробнее</a>
                                    <img src="{% static 'images/noun-like-1012923 (2).svg' %}" alt="like">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__sell card-color">
                        <div class="card__buy-content">
                            <div class="card__sell-image">
                                <img src="{% static 'images/product-images/2.jpg' %}" alt="Product Image">
                            </div>
                            <h2 class="title">Эркаклар кўйлакларини ёқасига қўйиладиган пластик (ПВХ)</h2>
                            <div class="product-data">
                                <div class="flags">
                                    <img src="{% static 'images/Flag_of_Uzbekistan.svg' %}" alt="Флаг страны">
                                    <span class="country">Страна</span>
                                </div>
                                <div class="date">
                                    <span class="full-date">01.01.2023</span>
                                </div>
                                <div class="like-and-more">
                                    <a href="#" class="read-more">Подробнее</a>
                                    <img src="{% static 'images/noun-like-1012923 (2).svg' %}" alt="like">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__sell card-color">
                        <div class="card__buy-content">
                            <div class="card__sell-image">
                                <img src="{% static 'images/product-images/3.jpg' %}" alt="Product Image">
                            </div>
                            <h2 class="title">Эркаклар кўйлакларини ёқасига қўйиладиган пластик (ПВХ)</h2>
                            <div class="product-data">
                                <div class="flags">
                                    <img src="{% static 'images/Flag_of_Uzbekistan.svg' %}" alt="Флаг страны">
                                    <span class="country">Страна</span>
                                </div>
                                <div class="date">
                                    <span class="full-date">01.01.2023</span>
                                </div>
                                <div class="like-and-more">
                                    <a href="#" class="read-more">Подробнее</a>
                                    <img src="{% static 'images/noun-like-1012923 (2).svg' %}" alt="like">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__sell card-color">
                        <div class="card__buy-content">
                            <div class="card__sell-image">
                                <img src="{% static 'images/product-images/4.jpg' %}" alt="Product Image">
                            </div>
                            <h2 class="title">Эркаклар кўйлакларини ёқасига қўйиладиган пластик (ПВХ) </h2>
                            <div class="product-data">
                                <div class="flags">
                                    <img src="{% static 'images/Flag_of_Uzbekistan.svg' %}" alt="Флаг страны">
                                    <span class="country">Страна</span>
                                </div>
                                <div class="date">
                                    <span class="full-date">01.01.2023</span>
                                </div>
                                <div class="like-and-more">
                                    <a href="#" class="read-more">Подробнее</a>
                                    <img src="{% static 'images/noun-like-1012923 (2).svg' %}" alt="like">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-row">
                    <div class="card__sell card-color">
                        <div class="card__buy-content">
                            <div class="card__sell-image">
                                <img src="{% static 'images/product-images/1.jpg' %}" alt="Product Image">
                            </div>
                            <h2 class="title">Плесос сотилади</h2>

                            <div class="product-data">
                                <div class="flags">
                                    <img src="{% static 'images/Flag_of_Uzbekistan.svg' %}" alt="Флаг страны">
                                    <span class="country">Страна</span>
                                </div>
                                <div class="date">
                                    <span class="full-date">01.01.2023</span>
                                </div>
                                <div class="like-and-more">
                                    <a href="#" class="read-more">Подробнее</a>
                                    <img src="{% static 'images/noun-like-1012923 (2).svg' %}" alt="like">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__sell card-color">
                        <div class="card__buy-content">
                            <div class="card__sell-image">
                                <img src="{% static 'images/product-images/2.jpg' %}" alt="Product Image">
                            </div>
                            <h2 class="title">Эркаклар кўйлакларини ёқасига қўйиладиган пластик (ПВХ)</h2>
                            <div class="product-data">
                                <div class="flags">
                                    <img src="{% static 'images/Flag_of_Uzbekistan.svg' %}" alt="Флаг страны">
                                    <span class="country">Страна</span>
                                </div>
                                <div class="date">
                                    <span class="full-date">01.01.2023</span>
                                </div>
                                <div class="like-and-more">
                                    <a href="#" class="read-more">Подробнее</a>
                                    <img src="{% static 'images/noun-like-1012923 (2).svg' %}" alt="like">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__sell card-color">
                        <div class="card__buy-content">
                            <div class="card__sell-image">
                                <img src="{% static 'images/product-images/3.jpg' %}" alt="Product Image">
                            </div>
                            <h2 class="title">Эркаклар кўйлакларини ёқасига қўйиладиган пластик (ПВХ)</h2>
                            <div class="product-data">
                                <div class="flags">
                                    <img src="{% static 'images/Flag_of_Uzbekistan.svg' %}" alt="Флаг страны">
                                    <span class="country">Страна</span>
                                </div>
                                <div class="date">
                                    <span class="full-date">01.01.2023</span>
                                </div>
                                <div class="like-and-more">
                                    <a href="#" class="read-more">Подробнее</a>
                                    <img src="{% static 'images/noun-like-1012923 (2).svg' %}" alt="like">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__sell card-color">
                        <div class="card__buy-content">
                            <div class="card__sell-image">
                                <img src="{% static 'images/product-images/4.jpg' %}" alt="Product Image">
                            </div>
                            <h2 class="title">Эркаклар кўйлакларини ёқасига қўйиладиган пластик (ПВХ) </h2>
                            <div class="product-data">
                                <div class="flags">
                                    <img src="{% static 'images/Flag_of_Uzbekistan.svg' %}" alt="Флаг страны">
                                    <span class="country">Страна</span>
                                </div>
                                <div class="date">
                                    <span class="full-date">01.01.2023</span>
                                </div>
                                <div class="like-and-more">
                                    <a href="#" class="read-more">Подробнее</a>
                                    <img src="{% static 'images/noun-like-1012923 (2).svg' %}" alt="like">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="listing-options">
                <div class="view-all-button">
                    <a href="#">Все объявления</a>
                </div>
                <div class="create-listing-button">
                    <a href="#">Создать объявление</a>
                </div>
            </div>

        </section>
    </div>
    <!-- /Cards sell section -->

{% endblock %}