{% extends 'base.html' %}


{% block main %}
    <h1 class="text-center mt-3 mb-5">{{ title }}</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <form action="{% url 'edit_film' id %}" id="filmForm" method="post"
                      enctype="multipart/form-data"
                      data-subcategories-url="{% url 'ajax_load_sub_categories' %}"
                      data-cities-url='{% url 'ajax_load_cities' %}'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Edit</button>
                    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                    <script>
                        $("#id_category").change(function () {
                            const url = $("#filmForm").attr("data-subcategories-url");  // get the url of the `load_cities` view
                            const categoryId = $(this).val();  // get the selected country ID from the HTML input

                            $.ajax({                       // initialize an AJAX request
                                url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                                data: {
                                    'category_id': categoryId       // add the country id to the GET parameters
                                },
                                success: function (data) {   // `data` is the return of the `load_cities` view function
                                    $("#id_sub_category").html(data);  // replace the contents of the city input with the data that came from the server
                                }
                            });
                        });
                    </script>
                    <script>
                        $("#id_country").change(function () {
                            const url = $("#filmForm").attr("data-cities-url");  // get the url of the `load_cities` view
                            const countryId = $(this).val();  // get the selected country ID from the HTML input
                            $.ajax({                       // initialize an AJAX request
                                url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                                data: {
                                    'country_id': countryId       // add the country id to the GET parameters
                                },
                                success: function (data) {   // `data` is the return of the `load_cities` view function
                                    $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
                                    /*

                                    let html_data = '<option value="">---------</option>';
                                    data.forEach(function (city) {
                                        html_data += `<option value="${city.id}">${city.name}</option>`
                                    });
                                    console.log(html_data);
                                    $("#id_city").html(html_data);
                                    */
                                }
                            });

                        });
                    </script>

                </form>
            </div>
        </div>
    </div>
{% endblock main %}